@charset "utf-8";/**{transition:1s;}*/
*{margin:0;padding:0;font-size:12pt;list-style-type:none;}
body,button{font-family:"游ゴシック",YuGothic,"Yu Gothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
body{overflow-y:scroll;color:#333;}
.clearing {clear:both;}.secret-to-you{display:none;}.centering{text-align:center !important;}

h2{margin-bottom:30px;text-align:center;font-size:24pt;}p{text-align:center;}

/* * * * * * * * * *       INDEX       * * * * * * * * * */

.index-popup h3{background:#3F6184;color:white;position:relative;float:left;}
.index-popup h3:after{content:"";position:absolute;border:10px solid transparent;border-left-color:#3F6184;top:35%;left:100%;}

/* * * * * * * * * *      SERVICE       * * * * * * * * * */
#service-todo li{background:#fff;border-left:#3F6184 3px solid;box-shadow:2px 2px 2px #999;-webkit-transform:skewY(-0.5deg);transform:skewY(-0.5deg);font-weight:bold;float:left;}

#service-extra-things{background:white;}
#service-extra-things h3:before{content:"+";position:absolute;left:10px;font-weight:bold;}
#service-extra-things h3{position:relative;background:#41D000;color:white;border-radius:5px;text-align:center;}

#we-can-speak-them{margin-top:50px;}
table.available_languages{text-align:center;}

/* * * * * * * * * *       CHARGES       * * * * * * * * * */
.charges-content{float:left;background:white;color:#333;text-align:center;}
.charges-content .price{font-size:32pt;font-family:"Quicksand","Century Gothic",Yu Gothic, fantasy;}
.charges-content .price:after{content:"円";display:block;}

/* * * * * * * * * *      FAQ      * * * * * * * * * */
.faq-contents{background:white;padding:5px 0; margin:35px 0;}
.faq-contents h3:before{content:"Q: ";}
.faq-contents h3{background:#3F6184;font-size:14pt; padding:5px 5px; margin:5px;position:relative;}
.faq-contents h3:after{content:"";position:absolute;border:15px solid transparent;border-top-color:#3F6184;top:100%;left:1%;}

.faq-contents p{text-align:left;font-size:12pt;color:#333; margin:20px 10px;}

.faq-contents a{color:#888;text-decoration:none;border-bottom:1px dotted #555;}

/* * * * * * * * * *      CONTACT       * * * * * * * * * */
.RQRD{color:red;}

form label{text-align:left;font-size:14pt;font-weight:bold;}
form input,form textarea{border-radius:5px; border:1px solid #666; padding:10px 5px;box-shadow:0 0 4px #aaa;}

form button{background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 50%, #afafaf 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 50%,#afafaf 100%);background: linear-gradient(to bottom, #ffffff 0%,#dddddd 50%,#afafaf 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afafaf',GradientType=0 ); border:none;box-shadow:1px 1px 5px #555;border-radius:5px;text-shadow:0 1px 0 #aaa;}
form button:hover{background: #ffffff;background: -moz-linear-gradient(top, #ffffff 0%, #e4f2fe 50%, #bee0fc 100%);background: -webkit-linear-gradient(top, #ffffff 0%,#e4f2fe 50%,#bee0fc 100%);background: linear-gradient(to bottom, #ffffff 0%,#e4f2fe 50%,#bee0fc 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bee0fc',GradientType=0 ); box-shadow:1px 1px 8px #aef;}

/* * * * * * * * * *      ABOUTUS       * * * * * * * * * */

#aboutus p{margin:30px 0;}
#aboutus a{margin:20px auto 40px;display:block;text-align:center;color:#ddd;text-decoration:none;border-bottom:1px dotted #aaa;width:70%;}

/* * * * * * * * * *      FOOTER       * * * * * * * * * */
footer{
	background:#fff;
	text-align:center;
	padding:30px 0 80px;
}
footer ul{margin-bottom:30px;}
footer a{
	color:#333;
	text-decoration:none;
	display:block;
	width:240px;float:left;
	padding:5px 0;margin:10px 0;
}
#copyright{
	clear:both;
	font-size:10pt;
	padding-top:40px;
}

/* * * * * * * * * *   HEADER-MENU       * * * * * * * * * */
nav{
	background:rgba(0,0,0,0.72);color:white;
	position:fixed;top:0;left:0;width:100%;height:100%;
	display:none;
	z-index:999;
}

#as-the-time-goes{font-size:inherit;}