@charset "UTF-8";

/*PC Design*/
@media only screen and (min-width:769px){
	#header-menu{display:none!important;}	
	/* 全体設定 */
	.contents{width:960px;margin:0 auto;}
	h1{font-size:20pt;padding:0 0 30px;text-align:center;}
	h2{margin:30px 0 40px;font-size:16pt;} 
	p{font-size:12pt;}
	
	/* ヘッダー */
	header{
		position:relative;
		width:100%;
		background:#444;
	}
	nav ul{
		width:960px;
		margin:0 auto;
		list-style-type:none;
	}
	nav ul li{
		float:left;
		display:block;
		width:192px;
		text-align:center;
		padding:5px 0;
	}
	nav ul li a{color:white;}nav ul li:hover,nav .faq-menu li:hover{background:#404040;background: -moz-linear-gradient(top, #404040 0%, #727272 100%);background: -webkit-linear-gradient(top, #404040 0%,#727272 100%);background: linear-gradient(to bottom, #404040 0%,#727272 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#727272',GradientType=0 );}
	
	.faq-menu{position:absolute; top:100%;}nav .faq-menu ul li{background:#444;}nav .faq-menu ul{display:block;width:240px;}
	
	/* タイトル */
	#title{padding:17% 0 0% 0; background-size:100%;background-position:top center;}
	#title h1{display:block;width:810px;margin:0 auto;text-align:right;}
}

@media only screen and (min-width:769px){
	/* 月々 980～ */
	#index-price{
		width:370px;
		padding:0 50px;
	}
	#index-price *{
		margin:0 !important;
	}
	#index-price h2{font-size:28pt;text-align:center;}
	#index-price h2 .price{font-size:48pt;font-weight:bold;}
	#index-price p{text-align:right;}
	#index-price h3{margin-top:30px !important;font-size:18pt;}
	#index-price h4{text-align:center;font-weight:normal;font-size:16pt;}
	
	/* サービス */	
	#service-vpn-price{width:900px;margin:0 auto;}
	#service-vpn-price h3{width:240px;font-size:24pt;margin:0px 30px 30px;padding:30px 0;height:130px;}
	#service-vpn-price .price{font-size:40pt;}
	
	#goto-alt-hosting{margin: 20px auto 0;}
	#goto-alt-hosting th{font-size:14pt;}
	
	/* FAQ */
	.faq-a{font-size:14pt;text-align:left;padding:20px 2% 0;width:96%;}
	#faq-service-url{margin:15px 0 300px;}
	#faq-service-url li{float:left;}
	#frequently-asked h2{margin-top:60px;}
	
	/* Formality */
	form table{
		width:100%;
	}
	form table th{
		width:30%;font-size:12pt;font-weight:normal;
	}
	form table tr td{
		width:60%;padding:0 5%;
	}
	form table tr *{
		margin:20px 0;
	}
	
	#textareas p{
		width:50%;
		display:inline-block;
		margin:0;
	}
	#textareas h3{
		font-weight:normal;
		font-size:12pt;
		margin:0px 0 20px;
	}
	#textareas a{
		display:block;
		text-align:center;
		color:#222;
		text-decoration:none;
		font-size:12pt;
		background:orange;
		padding:9px 0;
		width:240px;
		margin:30px auto;
	}
	
	input[type="text"],input[type="email"]{width:90%;}
	select{width:480px;}
	
	#inquiry-form ul li{margin:10px 20px;}
	/* フッター */
	#copyright,footer dl{font-size:10pt;}
	footer{padding:40px 0 80px;}
	footer dl{text-align:left;width:480px;}
	footer dt{display:inline-block;width:160px;}
	#copyright{text-align:right;float:right;display:block;width:480px;margin-top:-20px;}
}