/* * * * * * * * *	For Tablets * * * * * * * * */
@media only screen and (max-width: 768px) {
	/* ヘッダ部分 */
	header{display:none;}
	#header-menu{padding:10px 0;width:100%;text-align:center;background: #333;color:white;font-size: 12pt;z-index:999;}
	#header-menu a{display:block;color:white;border-bottom:#555 1px solid;padding:15px 0;text-decoration:none;}
	#header-menu .faq-menu a{background:#555;border-bottom:#aaa 1px solid;padding:2% 0;}
	
	/* 全体のコンストラクション */
	section{margin:0;padding:40px 0;}.contents{width:96%;margin: 0 2%;}
	
	/* テキスト全体のサイズ決め */
	body{font-size: 100%;}
	h1{		font-size:18pt;		text-align:center;		margin:1% 0 5%;}
	h2{		font-size:130%;		margin:50px 0;	}
	p{		font-size:110%;		text-align:center;		width: 90%;margin:5% auto;	}

	/*タイトル*/
	#title{
		background-size:180%;background-repeat:repeat-x;background-position:center;
		padding: 25% 0 5% 0;
	}
	#title h1 img{width:80%;}
	
	/* インデックス */
	#index h1{font-size:17pt;}
	#all-programs-recorded{margin:20px 0;}
	
	#promotions img{width:100%;}
	.divvy-index{margin:0 auto;width:90%;float:none;padding:0;height:inherit;}.divvy-index img {width: 370px;margin:0 auto;display:block;padding:0;}

	#index-price{margin:80px auto; text-align:center;}
	#index-price {width: 90%;}#index-price *{width: 100%;float:none;}
	#index-price h2{font-size:32pt;margin:0;}
	#index-price h2 .price{font-size:62pt;}
	#index-price p{margin:0 0 0 60%;width:40%;}
	#index-price h3{text-align:left;margin-left:20%;width:60%;}
	#index-price h4{font-size:150%;margin-top:20px;}
	
	/* サービス */
	#service-vpn-price h2{padding-top:0px; padding:0px 0 20px; margin-bottom:20px;}
	#service-vpn-price h3{font-size:18pt;width:25%;margin: 2% 4%;padding: 5% 0;height:inherit;}
	#service-vpn-price .price{font-size:28pt;}

	#goto-alt-hosting{width:100%;margin-top:30px;}
	#goto-alt-hosting td,#goto-alt-hosting th{width:50%;padding:0 2.5%;}
	#goto-alt-hosting td a{width:100%;margin:0;}
	
	/* FAQ */
	.help-balloon{left:25%;}
	#inquiry a[href="application.html"]{margin:60px auto 120px;}
	#faq-service-url{width:95%;margin:0 2.5%;}
	#faq-service-url li h4{display:block;text-align:left;}
	#faq-service-url li{width:45%;margin:2% 2.5%;float:left;}

	/* About us */
	#company_profiles{width:99%;}
	#aboutus dl{font-size:14pt;}
	#aboutus dt{width:20%;font-size:13pt;margin-bottom:10px;}
	#aboutus dd{width:80%;margin-left:20%;}
	
	#company_profiles dd h3{margin:10px 0;clear:both;}
	.aboutus-branches{margin:20px;}
	
	
	#aboutus a{font-size:14pt;}
	
	/* Formality */
	form {padding-top:0 !important;}
	form table{width:100%;}
	form table tr *{margin:5% 0;}
	form table th:first-child{width:35%;padding-right:0%;text-align:left;}
	
	input{font-size:10pt; margin-left:5%;}
	select,input[type="text"],input[type="email"],select{width:95%;}
	select{font-size:10pt; padding:5px;}
	textarea{font-size:10pt; clear:both;}
	form table p{font-size:12pt;width:50%;padding:10px 0 0 0;float:left;}
	
	#textareas p{text-align:left;width:50%;display:inline-block;margin:0px 0;}
	#textareas h3{font-weight:normal;font-size:11pt;clear:both;margin:0px 0 30px;padding-top:0px;}
	#textareas a{display:block;text-align:center;color:#222;text-decoration:none;font-size:11pt;background:orange;padding:9px 0;width:240px;margin:30px auto;}
	
	#terms p{clear:both;width:100%;}
	#term h2{font-size:13pt;margin:20px 0;}
	#term h3{font-size:10pt;margin:-10px 0 50px;}
	#term h4{font-size:11pt;margin:20px 0 10px !important;padding:0 !important;}
	#term p{font-size:10pt;text-align:left;margin:0px 0 20px !important;}
	#term ul li{margin:0;font-size:10pt;}
	
	button{
		display:block;
		margin:5% auto !important;
		padding:10px 0 !important;
		width:60% !important;
		font-size:100% !important;
	}
	#inquiry-form ul li{margin:10px 25px;}
	
	/* Confirmed sent */
	#thanks h1{font-size:130%;}
	#thanks-dialogue{width:90%;border-radius:10px;padding:40px 0;}
	#thanks-dialogue p{width:90%;margin:40px 2%;font-size:12pt;}
	#thanks a{text-decoration:none;font-size:16pt;width:70%;}
	
	/* Footer */	
	footer{padding:7% 5%;width: 90%;} footer a{display:block;}
	footer dt{font-size:12pt;width:30%;padding:5px 0;display:inline-block;}
}

/* * * * * * * * *	For Smartphones * * * * * * * * */
@media only screen and (max-width:512px){
	#aboutus{background-size:350%;}
	
	h1{font-size:17pt;}
	h2{font-size:13pt; margin:60px 0 20px 5px;}
	p{font-size:12pt;}
	.push-button{width:90%;font-size:12pt;padding:15px 0;}
	.abbreviated-when-smp{display:none;}
	
	#index h1{font-size:16pt;}
	
	#all-programs-recorded{margin:20px 0 60px;}
	#all-programs-recorded p{margin:40px auto 0;}
	
	.divvy-index img {width:100%;padding-bottom:0;}
	
	#index-price{margin:80px 0;width: 100%;}
	#index-price h2{font-size:30pt;}
	#index-price h2 .price{font-size:48pt;}
	#index-price h3{font-size:18pt;text-align:center;margin:0 auto;}
	#index-price p{width:100%;margin:0;}
	#index-price h4{font-weight: normal;font-size:14pt;}

	/* 商品紹介ページ */
	#lineup-list li{padding:5px;font-size:12pt;}
	.lineup-product {padding:0;background-position:top center !important;background-size:40% !important;padding-top:6em;}
	
	/* サービス */
	#service-vpn-price h2{font-size:11pt;padding:30px 0 10px;}
	#service-vpn-price h3{font-size:80%;}
	#service-vpn-price .price{font-size:160%;}
	
	#goto-alt-hosting{font-size:10pt;}
	
	/* FAQ */
	.help-balloon{width:80%;margin-top:50px;left:10%;}.help-balloon:after{left:50%;}
	.faq-q{font-size:12pt;}.faq-a{padding-top:10px;}
	.faq-q:after{border-width:10px;}

	#faq-service-url li{width:100%;margin:5px 0;}
	#inquiry h4{font-size:10pt; margin-bottom:40px;}
	#faq-service-url li h4, #faq-service-url a{	display:inline-block;padding:10px 0;margin:2.5px 0;}
	#faq-service-url li h4{width:55%;text-align:left;font-size:10pt;}
	#faq-service-url a{width:40%;font-size:10pt;}
	
	#for_application_button,#inquiry a[href="inquiry.html"],#service a[href="alternatives.html"],#service a[href="hosting.html"],#thanks a{width:70%;margin:10% auto;padding:5% 5%;font-size:110%;}
	#for_application_button:after,#service a[href="alternatives.html"]:after,#inquiry a[href="inquiry.html"]:after{display:none;}
	#inquiry a[href="application.html"]{margin:50px auto 90px;}
	#dethronement{display:block;}
	
	/* About us */
	#company_profiles{margin-top:35px;}
	#aboutus dt{width:99%;font-size:11pt;float:none;text-align:center;margin-left:1%;}
	#aboutus dd{width:95%;margin-left:2.5%;font-size:12pt;text-align:center;padding-bottom:10px;margin:20px auto 10px;}
	#aboutus h3,#aboutus a{font-size:11pt;text-align:left;}
	.aboutus-branches{margin-bottom:0;}.aboutus-branches dd{margin:0 auto 20px !important;}
	
	/* Footer */
	footer {padding: 10% 0 25%;width:100%;}
	footer dl{text-align:left;width:98%;margin:0 1%;}
	footer dt a{display:block;padding:10px 0;}
	footer dt{width:100%;margin:1% 0;font-size:10pt;border-bottom:1px dashed #888;text-align:center;}
	#copyright{font-size:10pt;width:100%} 
	
	/* Formality */
	form th{width:100% !important;text-indent:5px;}
	form th,form td,form tr{display:block;border:none !important;}
	form select{padding:10px 6px;}
	form input,form textarea{margin:10px 0 10px !important;padding:7px;width:90% !important;}
	form td,form th{margin:5px 0 0 0 !important;clear:both;}
	form textarea{margin:5px 2% 0 !important;clear:both;}
	p.RQRD,#terms p.RQRD{font-size:10pt;}
	#inquiry-form li{font-size:12px;}
	#inquiry-form ul li{margin:10px 5px;}
	#app-how-to-pay input{width:20px !important;}
	
	#inquiry-form h3{font-size:12pt;}
	#textareas h3{font-weight:normal;font-size:10pt;clear:both;margin:0px 10px 30px;padding-top:0px;}
	#textareas a{display:block;text-align:center;color:#222;text-decoration:none;font-size:10pt;background:orange;padding:9px 0;width:240px;margin:30px auto;}
	
	#i-agree input{width:30px !important;}
	/* Confirmed sent */
	#thanks h2{font-size:12pt;}
	#thanks-dialogue{width:90%;border-radius:10px;padding:20px 0;}
	#thanks-dialogue p{width:90%;margin:30px auto;font-size:10pt;text-align:left;}
	#thanks-dialogue li{font-size:9pt;}
	#thanks-dialogue ul{width:90%;margin:0 auto;}
	#thanks a{text-decoration:none;font-size:12pt;padding:15px 0;margin:15px auto;width:80%;display:block;text-align:center;font-weight:bold;border-radius:5px;}
}