@charset "utf-8";
/* CSS Document */

/* Fonts * * * * * * * * * * */
@import url('https://fonts.googleapis.com/css?family=Lato:700');

body{font-family:"游明朝","Yu Mincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;}
.gothical,.gothical *{font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

/* Reset All */
*{
	margin:0;
	padding:0;
	border:none;
		
	font-size:12pt;
	font-weight:normal;
	font-style:normal;
	
	text-decoration:none;
	list-style-type:none;
}
body{
	overflow-y:scroll;
}
/* Clearing Floating Box * * * * * * * * * * *  */
.clearing,.floatables:after{
	content:"";display:block;clear:both;
}
/* Background for Sections with an odd number * * * * * * * * * * * */
.odd-sec{
	background-image:url('../img/bg.png');
	background-color:#F0F2F9;
}

/* Default text color assign * * * * * * * * * */
p,h3,h2{color:#3E2409;}
.accent-bg1{background-color:#30468A;color:white;}
.accent-text-1{color:#30468A;}
.accent-text-2{color:#9EBEFF;}

@media only screen and (min-width:769px){
	.contents{
		width:1040px;
		margin-left:auto;
		margin-right:auto;
	}
	/* * * * * * * Index Image * * * * * * */
	#index-image{
		background: url('../img/the-engagement.jpg');
		background-position: center 45%;
		padding: 120px 0;
	}
	h1{
		text-align: center;
		font-size: 20pt;
		font-weight: bold;
		letter-spacing: 3px;
		text-shadow: 0 0 6px #aaaaaa;
	}
	h1 small{
		display: block;
		font-size: 11pt;
		font-weight: bold;
	}
	/* * * * * * * Sections * * * * * * */
	section h2{
		margin-bottom:2px;
		padding-top:45px;
		
		text-align:center;
		
		background:url('../img/about-us-h2-ornament.png') center top no-repeat;
		font-size:19pt;
		font-weight:bold;
	}
	section h2 small{
		display:block;
		
		font-family:Lato, sans-serif;
		font-size:8pt;
		letter-spacing:2px;
	}
	/* * * * * * * Sitemaps * * * * * * */
	#sitemaps, #contact_here{
		padding:40px 0;
	}
	#sitemaps{
		text-align:center;
	}
	#sitemaps p a{
		padding:0 15px;
	}
	/* * * * * * * Contact Here * * * * * * */
	#contact_here ul{
		width:960px;
		margin:0 auto;
	}
	#contact_here li{
		width:480px;
		display:block;
		float:left;
	}
	#contact_here address{
		width:330px;
		padding-left:150px;
		margin-bottom:12px;
	}
	#contact_here p{
		width:480px;
	}
	#contact_here p strong{
		margin:0 6px;
		padding:0 6px;
		
		text-align:center;
	}
	#contact_here p strong:first-child{
		margin-left:0;
	}
	
	#copyrights{
		padding:20px 0;
	}
	.goInquiry{
		transition:0.3s;
	}
}
@media only screen and (max-width:768px){
/* * * * * * * Index Image * * * * * * */
	#index-image{
		background: url('../img/the-engagement.jpg');
		background-position: center 45%;
		background-size:150%
	}
	h1 {
		padding:70px 0;
		text-align:center;
		font-size: 14pt;
		font-weight: bold;
		letter-spacing: 1.5px;
		text-shadow: 0 0 5px #aaaaaa;
	}
	h1 small {
		display:block;
		font-size: 8pt;
		margin-top:5px;
		font-weight: bold;
	}
	section h2{
		margin-bottom:2px;
		padding-top:35px;
		
		text-align:center;
		
		background:url('../img/about-us-h2-ornament.png') center top no-repeat;
		background-size:60px;
		font-size:13pt;
		font-weight:bold;
	}
	section h2 small{
		display:block;
		
		font-family:Lato, sans-serif;
		font-size:7pt;
		letter-spacing:1px;
	}
}