@charset "utf-8";
/* CSS Document */

#contactus {
	padding: 60px 0;
}
#notice {
	width: 898px;
	border: 2px solid #ae874c;
	padding: 15px 18px;
	margin: 0 auto 30px;
}
#notice p {
	margin: 0 0 5px 0;
}
#notice small {
	display: block;
	font-size: 9pt;
	text-align: center;
	background: #999999;
	padding: 3px 0;
	margin-top: 10px;
	box-shadow: 3px;
}
form {
	width: 1040px;
	margin: 10px auto;
}
form label {
	display: block;
}
.mandatory:after {
	line-height: 0;
	content: "必 須";
	position: relative;
	background-color: #AE874C;
	border-radius: 4px;
	display: inline-block;
	font-size: 10pt;
	vertical-align: top;
	padding: 10px 20px;
	letter-spacing: 0;
	color: white;
	font-weight: bold;
	text-align: center;
}
.box480 {
	margin: 20px 0;
	float: left;
	width: 480px;
}
.ls {
	margin-right: 40px;
}
.rs {
	margin-left: 40px;
}
.box480:after {
	content: "";
	display: block;
	clear: both;
}
.box480 li {
	float: left;
	width: 240px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.box480 .li-480 {
	float: none;
	width: 480px;
	margin-bottom: 0px;
}
.box480 .li-480 p {
	width: 240px;
	margin-bottom: 12px;
	float: left;
}
input[type="text"], input[type="tel"], input[type="email"], select, textarea {
	border: 1px solid #999999;
	margin-top: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select {
	width: 220px;
	padding: 1px 4px;
}
label.mandatory:after{
	margin-left:5px;
}
select {
	padding: 0 4px;
}
textarea {
	width: 462px;
	height: 131px;
	padding:4px;
}
#button-container {
	clear: both;
	text-align: center;
}
button {
	display: inline-block;
	width: 180px;
	padding: 15px 0;
	margin: 10px;
	box-shadow: 2px 2px 2px #444444;
	cursor: pointer;
}
button[type="reset"] {
	background: #707070;
}
button[type="reset"]:hover {
	background: #909090;
}
button[type="submit"] {
	background: url(../img/form_submit_btn1.jpg);
	color: white;
}
button[type="submit"]:hover {
	background: url(../img/form_submit_btn2.jpg);
}
#thanks{
	padding:60px 0;
}
#thanks h3{
	text-align: center;
	font-size:20pt;
}
#thanks p{
	text-align:center;
	margin:10px 0 40px;
}
#thanks .in-case{
	width:78%;
	margin:20px auto 0;
	border:2px #30468a solid;
}
#thanks .in-case p{
	text-align:left;
	color:white;
	margin:0 !important;
	padding:5px 1%;
	background-color:#30468A;
}
#thanks .in-case li{
	margin:10px 2%;
}
#thanks .in-case li:before{
	content:"";
	width:0;
	display: block;
	border:8px solid transparent;
	float:left;
	border-left-color:#30468a;
}
@media only screen and (max-width:768px){
	#notice{width:80%;}
	#notice p{
		line-height: 1.7em;
		font-size:10pt;
	}
	#notice small{
		line-height: 1.6em;
		padding:10px 20px;
		text-align: left;
	}
	.mandatory:after {
		font-size:9pt;
		padding: 9px 20px;
}
	form{
		width:90%;
	}
	
	.box480{
		width:100%;
		margin: 0;
	}
	.box480 li{
		width:100%;
		float:none;
		margin: 0 0 20px;
	}
	.box480 li label,.box480 .li-480 p{
		margin-bottom:10px !important;
		font-size:10pt;
	}
	.box480 .li-480{
		width:100%;
	}
	.box480 .li-480 p {
		float: none;
		margin:0;
	}
	input[type="text"], input[type="tel"], input[type="email"], select ,textarea{
		width: calc(95% - 8px);
		padding:4px 4px;
		margin:10px calc(2.5% - 1px) 0;
		font-size:10pt;
	}
	#button-container{
		padding-top:5%;
	}
	button{
		padding:12px 0;
	}
	#thanks h3{
		font-size:15pt;
	}
	#thanks p{
		font-size:10pt;
		margin:10px 2% 30px;
	}
	#thanks li{
		font-size:9pt;
		line-height: 1.5em;
		padding:1px 0;
	}
	#thanks .in-case li:before{
		border-width:5px;
	}
}
