@charset "utf-8";
/* CSS Document */
@media only screen and (min-width:769px){
#contacts {
	border: 3px solid #CAA86D;
	padding: 15px 10px;
}
#contacts h4 {
	color: #CAA86D;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	letter-spacing: 2pt;
	margin-bottom: 20px;
}
#contacts p {
}
#contacts p img {
	margin-right: 10px;
}
#contacts .goInquiry {
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	width: 254px;
	margin-left: 20px;
	background: url(../img/aboutus_browseonmap.png) !important;
	background-position: 0 0 !important;
	transition: none !important;
}
#contacts .goInquiry:hover {
	background-position: 0 45px !important;
}
#contacts p.numbers {
	width: 48%;
	margin: 5px 1% 0 0;
	display: inline-block;
	font-size: 18pt;
	letter-spacing: 5px;
}
}
@media only screen and (max-width:768px){
	#contacts{
		padding:10px 5px;
		width:90%;
		margin: 0 auto;
		border: 3px solid #CAA86D;
	}
	#contacts:after{
		content:"";display: block;clear: both;
	}
	#contacts h4{
		text-align: center;
		font-weight:bold;
		margin-bottom:15px;
		color:#CAA86D;
		font-size:13pt !important;
	}
	#contacts p{
		font-size:10pt !important;
	}
	#contacts p i{
		display: block;
		line-height:0;
	}
	#contacts img{
		display: block;
		margin:5px 2px 5px 0;
		float:left;
		width:20px !important;
	}
	#contacts .goInquiry{
		clear:both;
		display: block;
		width:200px;
		height:35px;
		margin:10px auto;
		background: url(../img/aboutus_browseonmap.png) !important;
		background-position:0 0 !important;
		transition: none !important;
		background-size:200px !important;
	}
	#contacts .goInquiry:hover {
		background-position: 0 35px !important;
	}
	#contacts .numbers img{
		float:none;
		margin:0 auto;
	}
	#contacts .numbers{
		text-align: center;
		float:left;
		margin-top:10px;
		width:50%;
	}
}