@charset "utf-8";
/* CSS Document */

/* * * * * * * Index Image * * * * * * */
#index-image {
	background: url('../img/index-title-the-engagement.jpg') center;
	width: 100%;
	height: 550px;
	padding: 0;
}
/* * * * * * * About Us * * * * * * */
#about-kokusaikekkon {
	padding: 50px 0 25px;
	text-align: center;
}
#about-kokusaikekkon p {
	margin: 30px 0;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 13pt;
}
/* * * * * * * Introduction * * * * * * */
#introduction {
	padding: 78px 0;
}
#introduction .contents {
	margin: 50px auto;
}
#introduction article {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
#introduction .photo-box {
	width: 514px;
	height: 394px;
	margin: 3px;
	z-index: 5;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 0 5px #aaaaaa;
}
#introduction img {
	position: absolute;
	top: -20px;
	left: -15px;
}
#introduction .text-box {
	width: 520px;
	height: 400px;
	z-index: 4;
	text-align: center;
	background-image: url('../img/text-box-ornament1.png'), url('../img/text-box-ornament2.png');
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center 2%, center 98%;
	box-shadow: 0 0 7px #AAAAAA;
}
#introduction h3 {
	font-size: 16pt;
	line-height: 36px;
	letter-spacing: 2px;
	font-weight: bold;
}
#introduction p {
	margin: 20px 0;
	font-size: 11.4pt;
	line-height: 30px;
}
#introduction a {
	width: 318px;
	display: block;
	margin: 19px auto 0;
	padding: 8px 0;
	max-height: 40px;
	transition: 0.3s;
	color: #3E2409;
	border: 1px solid #3E2409;
}
#introduction a:hover {
	background: #3e2409;
	color: white;
}

@media only screen and (max-width:769px) {
	#index-image{
		background-size:140%;
		height:232px;
	}
	#about-kokusaikekkon p{
		letter-spacing: 0;
		font-size:9pt;
	}
	i.for-smp{
		display: block;
	}
	#introduction .contents{
		position:relative;
	}
	#introduction article{
		display: block;
	}
	#introduction .photo-box{
		display: none;
		position: absolute;
		height:0px;
		width:70%;
		max-width:320px;
		bottom:0;
		margin:0 auto;
	}
	#introduction img {
		position:relative;
		width:100%;
		left:0;
		margin:0;
	}
	#introduction .text-box{
		background-size:98%;
		padding:40px 0;
		width:90%;
		margin:0px auto;
		height: inherit;
	}
	
	#introduction h3{
		font-size:13pt;
		line-height: 1.4em;
	}
	#introduction p{
		font-size:7pt;
		line-height: 2em;
		letter-spacing: 0;
		
	}
	#introduction a {
		width: 80%;
		display: block;
		margin: 19px auto;
		padding: 6px 0;
		font-size:9pt;
		color: #3E2409;
		border: 1px solid #3E2409;
	}
}
