@charset "utf-8";
/* CSS Document */

/* Testing Purpose Only */
/*
.contents{
	position:relative;
}

.contents:before{
	position:absolute;
	content:"";
	box-sizing:border-box;
	border:1px solid red;
	width:100%;height:100%;
	top:0;left:0;
}*/
/* ページトップへ */
#pagetop{
	text-align:right;position: fixed;bottom: 2%;right: 2%;z-index:9500;
}