@charset "UTF-8";
/* _/_/_/_/_/_/_/_/_/_/
Church for resurrection 
_/_/_/_/_/_/_/_/_/_/ */
.resurrection_dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: none;
    transition: 0.4s;
    z-index: 9999;
    top: 0;
    left: 0;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resurrectionSpellTitle {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.resurrection_dialog.expanded {
    backdrop-filter : blur(4px);
    background-color: rgba(0,0,0,.6);
    pointer-events: all;
    opacity: 1;
}

.resurrection_dialog_export__inner,
.resurrection_dialog_import__inner {
    display: none;
}

.resurrection_dialog_export__inner.expanded,
.resurrection_dialog_import__inner.expanded {
    display: flex;
    flex-flow: column;
    width: calc(80% - 32px);
    height: 70%;
    padding: 32px 16px;
    gap: 16px;
    background: linear-gradient(0deg, rgba(140,140,140,0.9) 0%,rgba(140,140,140,0.9) 100%), url(../images/pattern-cheetah.png) repeat;
    background-size: 32px;
}

.resurrectionSpell__stoneboard {
    background-color: white;
    padding: 16px;
    word-break: break-all;
    max-height: calc(80% - 64px);
    overflow-y: auto;
}

.theatreMode .resurrectionBtn {
    display: none;
}

#resurrectionSpell_input {
    all: unset;
    font-family: serif;
    background-color: white;
    padding: 16px;
    word-break: break-all;
    min-height: calc(80% - 64px);
    overflow-y: auto;
    resize: vertical;
}

.resurrectionSpell_btnGroup {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#resurrectionSpell_moreOption {
    position: relative;
    font-size: 0;
    height: 100%;
    width: 32px;
    border-radius: 0 4px 4px 0;
    background-color: #202020;
    cursor: pointer;
    margin-left: 3px;
}

#resurrectionSpell_moreOption:before {
    content : "";
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #FFFFFF;
    left: calc(50% - 4px);
    top: calc(50% - 4px);

}

#resurrectionSpell_cast,
.copyBtn {
    all: unset;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    background-color: #202020;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 16px 0;
}
