@charset "UTF-8";
.jimmyA .char__tops {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jimmyA_tops.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jimmyA_tops.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}

.testingPurpose .jimmyA .char__tops::before {
    content:" - Tops";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.jimmyA .char__trouser  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0px;
    width: 100%;
    height: calc(99% - 5px);
    -webkit-mask-image: url(../images/jimmyA_trouser.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jimmyA_trouser.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .jimmyA .char__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.jimmyA .char__retainer  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 80px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jimmyA_retainer.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jimmyA_retainer.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .jimmyA .char__retainer::before {
    content:" - Retainer";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}

.testingPurpose .jimmyA .char__tops,
.testingPurpose .jimmyA .char__trouser,
.testingPurpose .jimmyA .char__retainer {
    mask: none !important;
    width: 20px !important;
    height: 20px !important;
    left: 8px !important;
}

.testingPurpose .jimmyA .char__tops {
    top: 0;
}
.testingPurpose .jimmyA .char__trouser {
    top: 30px;
}
.testingPurpose .jimmyA .char__retainer {
    top: 60px;
}