
.eddA {
    width: 23%;
    margin: 0;

    @media (width <= 1400px) {
        width: 48%;
    }

    @media (width <= 768px) {
        width: 98%;
    }
}

.char__body {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: auto;
}

.char__body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eddA .char__jacket {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 7px);
    -webkit-mask-image: url(../images/eddA_jacket.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/eddA_jacket.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}

.testingPurpose .eddA .char__jacket::before {
    content:" - jacket";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.eddA .char__hat {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 7px);
    -webkit-mask-image: url(../images/eddA_hat.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/eddA_hat.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .eddA .char__hat::before {
    content:" - hat";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.eddA .char__dollar,
.eddA .char__yen,
.eddA .char__euro,
.eddA .char__rupee,
.eddA .char__wong
{
    position: absolute;
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 80px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 6px);
    -webkit-mask-image: url(../images/eddA_dollar.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/eddA_dollar.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}
.eddA .char__yen{
    -webkit-mask-image: url(../images/eddA_yen.png);
    mask-image: url(../images/eddA_yen.png);
}
.eddA .char__euro {
    -webkit-mask-image: url(../images/eddA_euro.png);
    mask-image: url(../images/eddA_euro.png);
}
.eddA .char__rupee {
    -webkit-mask-image: url(../images/eddA_rupee.png);
    mask-image: url(../images/eddA_rupee.png);
}
.eddA .char__wong {
    -webkit-mask-image: url(../images/eddA_wong.png);
    mask-image: url(../images/eddA_wong.png);
}

.testingPurpose .eddA .char__dollar::before,
.testingPurpose .eddA .char__yen::before,
.testingPurpose .eddA .char__euro::before,
.testingPurpose .eddA .char__rupee::before,
.testingPurpose .eddA .char__wong::before
 {
    content:" - Currency";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}

.eddA .char__printer  {
    position: absolute;
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 80px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 6px);
    -webkit-mask-image: url(../images/eddA_printer.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/eddA_printer.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .eddA .char__printer::before {
    content:" - printer";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}

.testingPurpose .eddA .char__jacket,
.testingPurpose .eddA .char__hat,
.testingPurpose .eddA .char__dollar,
.testingPurpose .eddA .char__yen,
.testingPurpose .eddA .char__euro,
.testingPurpose .eddA .char__rupee,
.testingPurpose .eddA .char__wong,
.testingPurpose .eddA .char__printer {
    mask: none !important;
    width: 20px !important;
    height: 20px !important;
    left: 8px !important;
}

.testingPurpose .eddA .char__jacket {
    top: 0;
}
.testingPurpose .eddA .char__hat {
    top: 30px;
}
.testingPurpose .eddA .char__dollar,
.testingPurpose .eddA .char__yen,
.testingPurpose .eddA .char__euro,
.testingPurpose .eddA .char__rupee,
.testingPurpose .eddA .char__wong
 {
    top: 60px;
}
.testingPurpose .eddA .char__printer {
    top: 90px;
}