@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html,body,header,div,span,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture,ul,li,ol {
    padding: 0;
    margin: 0;
}


header {
    background-color: #202020;
    color: #FFFFFF;
    padding: 24px 16px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    transition: 0.4s;
}

header nav {
    display: flex;
    gap: 8px;
}

header nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.theatreMode header {
    padding: 8px 16px;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(63deg, rgb(255, 213, 5) 0%, #ff6f01e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s
}

.theatreMode h1 {
    font-size: 0;
}

body {
    font-family: "Jost", sans-serif;
}

.character_wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px 2%;
    padding: 32px 0 96px;
    min-height: 900px;
    transition: all 0.4s;
}


.theatreMode .character_wrapper {
    
    padding: 32px 0;
}

.char__controller {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 8px;
    margin: 16px;
    
    @media (width <= 768px) {
        display: flex;
        flex-flow: column;
    }
}

.char__controller > div {
    position: relative;
    width: calc(100% - 34px);
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

}

.char__controller > div:before {
    content: "";
    position: absolute;
    right: 16px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #303030;
    border-bottom: 2px solid #303030;
    transform: rotate(45deg);
    transition: 0.4s;;
}

.char__controller > div.expanded:before {
    transform: rotate(-135deg);
}

.char__controller > div > span {
    display: block;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 0;
    cursor: pointer;
}

.char__controller > div.expanded > span {
    margin-bottom: 16px;
}

.char__controller > div > p {
    transform-origin: center top;
    transform: scaleY(0.01);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    height: 1px;
}

.char__controller > div.expanded > p {
    display: flex;
    justify-content: space-between;
    height: 32px;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
}


.char__controller > div > p > [type="range"] {
    width: calc(100% - 120px);
}

.theatreMode .char__controller {
    display: none;
}

.character_adder {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 3px 0;
    transition: 0.4s;;
}

.theatreMode .character_adder {
    transform: translateY(100%);
}

.character_adder a {
    display: block;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid #AAAAAA;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.character_adder a img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

/* Background Setter */
.theatre_background_setter {
    position: fixed;
    left: 0;
    bottom: 100px;
    transform: translateX(calc(-100% - 12px));
    transition: 0.4s;
}

.theatre_background_setter a {
    position: absolute;
    right: -12.0px;
    width: 12px;
    height: 0;
    line-height:0;
    padding: 15px 0;
    display: block;
    background-color: #C0C0C0;
    border-radius: 0 8px 8px 0;
    font-size: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #202020;
}

.theatreMode
.theatre_background_setter {
    display: block;
    transform: translateX(calc(-100% - 0px));
}

.theatreMode
.theatre_background_setter.expanded {
    transform: translateX(0px);
}

.theatre_background_setter__inner {
    display: flex;
    flex-flow: column;
    padding: 16px 12px;
    background-color: #C0C0C0;
}

.theatre_background_setter__inner label {
    display: block;
}

.background_01,
.background_02,
.background_03 {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    transition: opacity 0.4s;
}

.background_01 {
    background: linear-gradient(41deg, rgb(255 209 115) 0%, #ffc0c0 100%);
}

.background_02 {
    background: linear-gradient(41deg, #e6fdff 0%, #c4e9ff 100%);
}

.background_03 {
    background:#101010;
}

.theatreMode .jonny.snowCoated,
.theatreMode .jimmy.snowCoated {
    -webkit-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}

.theatreMode .jonny.withSpotlight,
.theatreMode .jimmy.withSpotlight {
    -webkit-mix-blend-mode: multiply;
    mix-blend-mode: multiply;
}

.theatreMode .background_01.expanded,
.theatreMode .background_02.expanded,
.theatreMode .background_03.expanded {
    opacity: 1;
}

.snowDrop {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(#FFFFFF 0%, #FFFFFF00 100%);
}

.colorBall {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff716;
    filter: blur(2px);
    /* background: radial-gradient(#FFFFFF 0%, #FFFFFF00 100%); */
}


/* Some properties are not shown in Theatre Mode */
@media print {
    .char__controller,
    .printBtn,
    .character_adder,
    .theatre_background_setter {
        display: none;
    }

    .character_wrapper {
        min-height: none;
    }
}
