@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html,body,header,div,span,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture,ul,li,ol {
    padding: 0;
    margin: 0;
}


header {
    background-color: #202020;
    color: white;
    padding: 24px 16px;
    display: flex;
    flex-flow: column;

    align-items: flex-end;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(63deg, rgb(255, 213, 5) 0%, #ff6f01e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: "Jost", sans-serif;
}

.character_wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    min-height: 900px;
}

.jonny {
    width: 48%;
    margin: 0;
    overflow: hidden;

    @media (width <= 768px) {
        width: 98%;
    }
}

.char__body {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: auto;
}

.char__body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.char__tops {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jonny_tops.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_tops.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}

.char__tops::before {
    content:" - Tops";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.char__trouser  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: -3px;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jonny_trouser.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_trouser.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.char__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.char__controller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
    margin: 16px;
    
    @media (width <= 768px) {
        grid-template-columns: 1fr;
    }
}

@media print {
    .char__controller,
    .printBtn {
        display: none;
    }

    .character_wrapper {
        min-height: none;
    }
}

.char__controller > div {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

    @media (width <= 768px) {
        flex: auto;
    }
}

.char__controller > div > span {
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
}

.char__controller > div > p {
    display: flex;
    justify-content: space-between;
}


.char__controller > div > p > [type="range"] {
    width: calc(100% - 120px);
}