
.edA {
    width: 23%;
    margin: 0;

    @media (width <= 1400px) {
        width: 48%;
    }

    @media (width <= 768px) {
        width: 98%;
    }
}

.char__body {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: auto;
}

.char__body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edA .char__outer_shirt {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 7px);
    -webkit-mask-image: url(../images/edA_outer_shirt.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/edA_outer_shirt.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}

.testingPurpose .edA .char__outer_shirt::before {
    content:" - Outer Shirt";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.edA .char__inner_shirt  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: -3px;
    width: 100%;
    height: calc(100% - 2px);
    -webkit-mask-image: url(../images/edA_inner_shirt.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/edA_inner_shirt.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .edA .char__inner_shirt::before {
    content:" - Inner Shirt";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.edA .char__trouser {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 7px);
    -webkit-mask-image: url(../images/edA_trouser.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/edA_trouser.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .edA .char__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.edA .char__socks  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 80px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 6px);
    -webkit-mask-image: url(../images/edA_socks.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/edA_socks.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .edA .char__socks::before {
    content:" - Socks";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}

.edA .char__shoes  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 120px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 6px);
    -webkit-mask-image: url(../images/edA_shoes.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/edA_shoes.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .edA .char__shoes::before {
    content:" - Shoes";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}


.testingPurpose .edA .char__outer_shirt,
.testingPurpose .edA .char__inner_shirt,
.testingPurpose .edA .char__trouser,
.testingPurpose .edA .char__shoes,
.testingPurpose .edA .char__socks {
    mask: none !important;
    width: 20px !important;
    height: 20px !important;
    left: 8px !important;
}

.testingPurpose .edA .char__outer_shirt {
    top: 0;
}
.testingPurpose .edA .char__inner_shirt {
    top: 30px;
}
.testingPurpose .edA .char__trouser {
    top: 60px;
}
.testingPurpose .edA .char__shoes {
    top: 90px;
}
.testingPurpose .edA .char__socks {
    top: 120px;
}