@charset "UTF-8";
/*  _/_/_/_/_/_/_/_/_/_/
Disappearing Animations
 _/_/_/_/_/_/_/_/_/_/ */
.animating_shrinkingOut {
    animation: shrinkingOut 1s ease-in-out forwards;
}

.animating_tornadoOut {
    animation: tornadoOut 1s cubic-bezier(.68,0,.84,.49) forwards;
}

.animating_jumpingOut {
    animation: jumpingOut 1s linear forwards;
    transform-origin: bottom center;
}

.animating_blurringOut {
    animation: blurringOut 1s ease-out forwards;
}

.animating_shadowedOut {
    animation: shadowedOut 1s ease-out forwards;
}

.animating_stompedOut {
    animation: stompedOut 1s ease-out forwards;
    transform-origin: bottom center;
}

.animation_anvil {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 2px 2px 3px #a0a0a0;
    color: #FFFFFF;
    min-width: 200px;
    height: 200px;
    bottom: -200px;
    left: 0;
    background: linear-gradient(35deg, #2f0fff 0%, #12d3f1 100%);
    border-radius: 2px;
    animation: anvilLifeSpan 1s ease-in-out 1 forwards;
    transform-origin: center bottom;
}

@keyframes anvilLifeSpan {
    0% {
        transform: translate(-0.0%, -1000px);
    }
    10% {
        transform: translate(-0.0%, -200px);
    }
    70% {
        transform: translate(-0.0%, -200px);
        opacity: 1;
    }
    100% {
        transform: translate(-0.0%, -200px);
        opacity: 1;
    }
}

@keyframes shrinkingOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes tornadoOut {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }
    90% {
        transform: rotateY(1280deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(1700deg);
        opacity: 0;
    }
}

@keyframes jumpingOut {
    0% {
        transform: scale(1) translateY(0px);
    }
    10% {
        transform: scale(2, 0.2) translateY(0px);
    }
    20% {
        transform: scale(2.1, 0.16) translateY(0px);
    }
    25% {
        transform: scale(3.2, 0.14) translateY(10px);
    }
    90% {
        transform: scale(0.8, 1.6) translateY(-500px);
    }
    100% {
        transform: scale(1) translateY(-1600px);
    }
}

@keyframes blurringOut {
    0% {
        filter: blur(1px);
        opacity: 1;
    }
    45% {
        filter: blur(25px);
        opacity: 1;
    }
    90% {
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        filter: blur(0);
        opacity: 0;
    }
}


@keyframes shadowedOut {
    0% {
        filter: brightness(1);
        opacity: 1;
    }
    
    45% {
        filter: brightness(0);
        opacity: 1;
    }
    
    90%, 100% {
        filter: brightness(0);
        opacity: 0;
    }
}


@keyframes stompedOut {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 1);
    }
    15%,100% {
        transform: scale(1.3, 0.04);
    }
}

.scoreCounter {
    display: block;
    position: fixed;
    z-index: 1;
    width: 150px;
    padding: 16px 0;
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px;
    font-size: 40px;
    text-align: center;
    top: 50%;
    left: calc(50% - 75px);
    color: #12feff;
    text-shadow: 0 0 4px #07bbc1;
    pointer-events: none;
}

/* Effects in slasher animation*/
.blackBG {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.98);
    left: 0;
    top: 0;
    z-index: 190;
    transition: opacity 0.4s;
    overflow: hidden;
    pointer-events: none;
}

.slashEffect {
    position: absolute;
    width: 820px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    transform: rotate(-17deg);
    z-index: 191;
    transform-origin: left top;
    animation: slashAnimation 0.12s 1 linear forwards;
    filter : drop-shadow(0 0 4px #FFFFFF) drop-shadow(0 0 8px #FFFFFF) drop-shadow(0 0 12px #FFFFFF);
}

@keyframes slashAnimation {
    0% {
        transform: rotate(-17deg) translate(110%, -26px);
    }
    100% {
        transform: rotate(-17deg) translate(-110%, 26px);
    }
}

.turningBlack {
    transition: filter 1s;
}

.turningBlack.active {
    filter: brightness(0);
}

.slashedPartA {
    mask-image: linear-gradient(177deg, rgba(0,0,0,1) 59.9%, rgba(0,0,0,0) 60.1%);
    mask-position: left top;
    mask-size: 100% 100%;
    transition: transform 1.5s ease-out, opacity 0.4s;
    pointer-events: none;
}

.slashedPartB {
    mask-image: linear-gradient(357deg, rgba(0,0,0,1) 39.9%, rgba(0,0,0,0) 40.1%);
    mask-position: left top;
    mask-size: 100% 100%;
    transition: transform 1.5s ease-out, opacity 0.4s;
    pointer-events: none;
}