@charset "UTF-8";
@import "style-bases.css";
@import "style-characters.css";
@import "style-theatreMode.css";
@import "style-deleteChar.css";
@import "style-church.css";
@import "style-jonnyA.css";
@import "style-jonnyB.css";
@import "style-jimmyA.css";
@import "style-rolfA.css";
@import "style-kevinA.css";
@import "style-edA.css";
@import "style-eddyA.css";
@import "style-eddA.css";