@charset "UTF-8";

html,body,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture {
    padding: 0;
    margin: 0;
}

.jonny {
    width: 98%;
    margin: auto;
    overflow: hidden;
}

.jonny__body {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: auto;
}

.jonny__body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jonny__tops {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 2px);
    -webkit-mask-image: url(../images/jonny_tops.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_tops.svg);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}
.jonny__tops::before {
    content:" - Tops";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.jonny__trouser {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: -3px;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(../images/jonny_trouser.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_trouser.svg);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.jonny__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.jonny__controller {
    display: flex;
    gap: 24px;
    margin: 16px;
    
    @media (width <= 768px) {
        flex-direction: column;
    }
}

.jonny__controller > div {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

    @media (width <= 768px) {
        flex: auto;
    }
}

.jonny__controller > div > span {
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
}

.jonny__controller > div > p {
    display: flex;
    justify-content: space-between;
}


.jonny__controller > div > p > [type="range"] {
    width: calc(100% - 120px);
}