
.jonnyA {
    width: 23%;
    margin: 0;

    @media (width <= 1400px) {
        width: 48%;
    }

    @media (width <= 768px) {
        width: 98%;
    }
}

.jonnyA .char__tops {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jonnyA_tops.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonnyA_tops.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}

.testingPurpose .jonnyA .char__tops::before {
    content:" - Tops";
    position: absolute;
    top: 0;
    left: 30px;
    width: 400px;
}

.jonnyA .char__trouser  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: -3px;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jonnyA_trouser.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonnyA_trouser.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .jonnyA .char__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.jonnyA .char__skin  {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 80px;
    background: rgb(138, 49, 27);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 4px);
    -webkit-mask-image: url(../images/jonnyA_skin.png);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonnyA_skin.png);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.testingPurpose .jonnyA .char__skin::before {
    content:" - Skin";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 400px;
}

.testingPurpose .jonnyA .char__tops,
.testingPurpose .jonnyA .char__trouser,
.testingPurpose .jonnyA .char__skin {
    mask: none !important;
    width: 20px !important;
    height: 20px !important;
    left: 8px !important
}

.testingPurpose .jonnyA .char__tops {
    top: 0;
}
.testingPurpose .jonnyA .char__trouser {
    top: 30px;
}
.testingPurpose .jonnyA .char__skin {
    top: 60px;
}