@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html,body,header,div,span,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture,ul,li,ol {
    padding: 0;
    margin: 0;
}


header {
    background-color: #202020;
    color: white;
    padding: 24px 16px;
    display: flex;
    flex-flow: column;

    align-items: flex-end;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(63deg, rgb(255, 213, 5) 0%, #ff6f01e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: "Jost", sans-serif;
}

.character_wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px 2%;
    min-height: 900px;
}

.char__controller {
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 8px;
    margin: 16px;
    
    @media (width <= 768px) {
        display: flex;
        flex-flow: column;
    }
}

.char__controller > div {
    position: relative;
    width: calc(100% - 34px);
    padding: 4px 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

}

.char__controller > div:before {
    content: "";
    position: absolute;
    right: 16px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #303030;
    border-bottom: 2px solid #303030;
    transform: rotate(45deg);
    transition: 0.4s;;
}

.char__controller > div.expanded:before {
    transform: rotate(-135deg);
}

.char__controller > div > span {
    display: block;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 0;
    cursor: pointer;
}

.char__controller > div.expanded > span {
    margin-bottom: 16px;
}

.char__controller > div > p {
    transform-origin: center top;
    transform: scaleY(0.01);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    height: 1px;
}

.char__controller > div.expanded > p {
    display: flex;
    justify-content: space-between;
    height: 32px;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
}


.char__controller > div > p > [type="range"] {
    width: calc(100% - 120px);
}


@media print {
    .char__controller,
    .printBtn {
        display: none;
    }

    .character_wrapper {
        min-height: none;
    }
}

.character_adder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 48px 0;
}
.character_adder a {
    display: block;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid #AAAAAA;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.character_adder a img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}