@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* _/_/_/_/_/_/_/_/_/_/
Initializes All Properties
 _/_/_/_/_/_/_/_/_/_/ */
html,body,header,div,span,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture,ul,li,ol,textarea,main {
    padding: 0;
    margin: 0;
}

/*  _/_/_/_/_/_/_/_/_/_/
Header 
 _/_/_/_/_/_/_/_/_/_/*/
header {
    background-color: #202020;
    color: #FFFFFF;
    padding: 24px 16px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    transition: 0.4s;
}

header nav {
    display: flex;
    gap: 8px;
}

header nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.theatreMode header {
    padding: 8px 16px;
}

h1 {
    text-align: center;
    color: transparent;
    background: linear-gradient(63deg, rgb(255, 213, 5) 0%, #ff6f01e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s
}

.theatreMode h1 {
    font-size: 0;
}

/*_/_/_/_/_/_/_/_/_/_/
Main
_/_/_/_/_/_/_/_/_/_/*/
body {
    font-family: "Jost", sans-serif;
}

main {
    min-height: 95vh;
    transition: transform 0.4s, border 0.4s;
}

.messageWhenEmpty {
    display: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 0 5%;
    font-size: 34px;
    transition: 0.4s;
}

.theatreMode .messageWhenEmpty {
    opacity: 0;
}

.messageWhenEmpty.expanded {
    display: flex;
}

noscript {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 34px;
    background-color: rgba(0,0,0,0.9);
    color: #FFFFFF;
    z-index: 100000;
}

.character_wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px 2%;
    padding: 32px 0 96px;
    min-height: 900px;
    transition: all 0.4s;
}

.theatreMode .character_wrapper {
    padding: 32px 0;
    align-items: center;
    min-height: 0;
}

/* _/_/_/_/_/_/_/_/_/_/
Popup Menu
 _/_/_/_/_/_/_/_/_/_/ */
.popup_menu {
    position: fixed;
    left: 0;
    top: 0;
    width: max-content;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0;
    transform: scale(0.7);
    pointer-events: none;
    transform-origin: left top;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    overflow: hidden;
}

.popup_menu.expanded {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
    z-index: 99999;
}

.popup_menu ul {
    list-style: none;
}

.popup_menu li {
    cursor: pointer;
}

.popup_menu li + li {
    border-top: 1px solid #e0e0e0;
}

.popup_menu a {
    padding: 8px 16px;
    width: calc(100% - 32px);
    height: 100%;
    display: block;
    color: #202020;
    text-decoration: none;
    transition: 0.4s;
    
    background-color: #f9f9f9;
}
.popup_menu a:hover {
    background-color: #e2e2e2;
}