@charset "UTF-8";

html,body,h1,h2,h3,h4,h5,h6,p,i,input,button,img,picture {
    padding: 0;
    margin: 0;
}

.jonny {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: auto;
}

.jonny img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jonny__tops {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 20px;
    background: rgb(251, 42, 73);
    
    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: 0;
    width: 100%;
    height: calc(99% - 2px);
    -webkit-mask-image: url(../images/jonny_tops.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_tops.svg);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;

}
.jonny__tops::before {
    content:" - Tops";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}

.jonny__trouser {
    position: absolute;
    
    /* Testing Purpose Only */
    width: 20px;
    height: 20px;
    left: 8px;
    top: 50px;
    background: rgb(41, 197, 121);

    /* If uploading to Github, Uncomment those items below */
    left: 0;
    top: -3px;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(../images/jonny_trouser.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../images/jonny_trouser.svg);
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.jonny__trouser::before {
    content:" - Trouser";
    position: absolute;
    top: 0.0px;
    left: 30px;
    width: 400px;
}