@charset "UTF-8";
body,h1,h2,h3,h4,h5,h6,p,span,i,a,img,figure,ul,li,ol,div {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    position: relative;
}

.duel_starter_group {
    display: block;
    padding: 4px 8px;
    background-color: #CCCCCC;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 998;
    box-sizing: border-box;
    overflow-x: auto;
}

.duel_starter_group__inner {
    display: flex;
    width: max-content;
    padding: 4px 0;
    flex-flow: row;
    gap: 8px;
    box-sizing: border-box;
}

.duel_starter_group__inner > div {
    padding: 6px 4px;
    background: rgb(255,167,59);
    color:#FFFFFF;
    border-radius: 32px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
    padding-bottom: 16px;
    gap: 16px;
}

.duelScreen {
    position: relative;
    width: 96%;
    padding: 17px 2%;
    background-color: rgb(255, 167, 59);
    border-radius: 16px;
    overflow: hidden;
}

.duelScreenFlashing {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    pointer-events: none;
    animation: dsFlashing 0.5s 1 forwards;
}

@keyframes dsFlashing {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.damageShakeNormal {
    animation: shakeNormal 0.7s 1 linear forwards;
}

.damageShakeCritical {
    animation: shakeCritical 1.5s 1 linear forwards;
}

@keyframes shakeNormal {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-25px);
    }
    20% {
        transform: translateY(15px);
    }
    30% {
        transform: translateY(-8px);
    }
    40% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-4px);
    }
    60% {
        transform: translateY(2px);
    }
    70% {
        transform: translateY(0);
    }
}

@keyframes shakeCritical {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-65px);
    }
    10% {
        transform: translateY(43px);
    }
    15% {
        transform: translateY(-35px);
    }
    20% {
        transform: translateY(24px);
    }
    25% {
        transform: translateY(-16px);
    }
    30% {
        transform: translateY(12px);
    }
    35% {
        transform: translateY(-6px);
    }
    40%,50%,60%,70%,80%,90% {
        transform: translateY(5px);
    }
    45%,55%,65%,75%,85%,95% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.duelScreen.scrollable {
    max-height: 350px;
    overflow-y: scroll;
}

.damage-indicator {
    position: absolute;
    text-shadow: 0 0 7px #34343488;
    font-weight: 700;
    font-size: 24px;
    transform: translate(-50%, 0);
    animation: damageIndiSpan 0.7s 1 linear forwards;
}

.damage-smesh {
    position: absolute;
    /* text-shadow: 0 0 7px #34343488; */
    font-weight: 700;
    font-size: 16px;
    transform: translate(-50%, 0);
    animation: damageIndiSpan 0.7s 1 linear forwards;
}

@keyframes damageIndiSpan {
    0% {
        opacity: 0;
        transform: translate(-50%, 30px);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 0px);
    }
}

.messageContainer {
    border: 10px solid #F0F0F0;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 128px;
    min-height: 40px;
    background-color: #19a7ff;
}

.windowFlexBox {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.windowFlexBox > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 25%;
    border: 10px solid #F0F0F0;
    border-radius: 8px;
    padding: 8px;
    background-color: #19a7ff;
}

.windowFlexBox > div.fainted {
    background-color: #f33a1e;
    border-color: #ff8080;
}


.windowFlexBox > div > p {
    margin: 0;
}

.windowMain {
    position: relative;
}

.windowMain.acting {
    transform: translateY(-8px);
}

.windowMain .indicator_name {
    display: block;
    text-align: center;
    min-height: 24px;
}

.windowMain p {
    display: flex;
    justify-content: space-between;
}

.windowFlexBox > div p span {
    display: inline-block;
    width: 60px;
    background-color: #F0F0F0;
}

.ailmentBalloon {
    display: none;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 54px;
    background-color: #FFFFFF;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

.ailmentBalloon.expanded {
    display: flex;
}

.ailmentBalloon::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.ailmentBalloon::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    left: 13px;
    top: 8px;
    font-size: 0;
    background: url(../images/ailment_icon_poisoned.webp) center center no-repeat;
    background-size: contain;
}

.ailmentBalloon.poisoned::after {
    content: "poisoned";
}

.ailmentBalloon.asleep::after {
    content: "asleep";
    background: url(../images/ailment_icon_asleep.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.paralysed::after {
    content: "paralysed";
    background: url(../images/ailment_icon_paralysed.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.crying::after {
    content: "crying";
    background: url(../images/ailment_icon_crying.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.silenced::after {
    content: "silenced";
    background: url(../images/ailment_icon_silenced.webp) center center no-repeat ;
    background-size: contain;
}

.showBreakdownBtn {
    position: absolute;
    left: 10%;
    top: 50%;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
    width: 80%;
    padding: 6px 0;
    background-color: #19a7ff;
    border-radius: 8px;
}

.breakdownContainer {
    display: none;
    position: absolute;
    left: 10%;
    top: calc(50% + 24px);
    width: 80%;
    padding: 6px 0;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.breakdownContainer.expanded {
    display: block;
}

.textFramer {
    position: fixed;
    left: 8px;
    bottom: 8px;
    background: #f33a1e;
    color: #FFFFFF;
    padding: 2px;
    font-size: 12px;
    z-index: 9999;
    user-select: none;
}