@charset "UTF-8";
:root {
    --base-bg: #19a7ff;
}

body,h1,h2,h3,h4,h5,h6,p,span,i,a,img,figure,ul,li,ol,div,img,figure,figcaption {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-family: "Noto Sans JP","Noto Sans",sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    position: relative;
}

/* FPS Viewer */
.textFramer {
    opacity: 0;
}

.textFramer.expanded {
    opacity: 1;
}

/* _/_/_/_/_/_/_/_/_/_/
Popup Menu
 _/_/_/_/_/_/_/_/_/_/ */
.popup_menu {
    position: fixed;
    left: 0;
    top: 0;
    width: max-content;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0;
    transform: scale(0.7);
    pointer-events: none;
    transform-origin: left top;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    overflow: hidden;
}

.popup_menu.expanded {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
    z-index: 99999;
}

.popup_menu ul {
    list-style: none;
}

.popup_menu li {
    cursor: pointer;
}

.popup_menu li + li {
    border-top: 1px solid #e0e0e0;
}

.popup_menu a {
    padding: 8px 16px;
    width: calc(100% - 32px);
    height: 100%;
    display: block;
    color: #202020;
    text-decoration: none;
    transition: 0.4s;
    
    background-color: #f9f9f9;
}
.popup_menu a:hover {
    background-color: #e2e2e2;
}

/* Wrapper Left*/
.wrapperLeft {
    width: 16%;
    padding: 16px 2%;
    height: 100%;
    position: fixed;
    background: #202020;
    color: #FFFFFF;
    
    @media (width <= 768px) {
        transition: transform 0.4s;
        padding: 64px 2% 16px;
        width: 76%;
        min-height: 0;
        transform: translateX(-100%);
        z-index: 999;
    }
}

.wrapperLeftClose {
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 32px;
    color: #FFFFFF;
    
    @media (width > 768px) {
        display: none;
    }
}

.wrapperLeft.expanded {
    transform: translateX(0);
}

.wrapperLeftBtn {
    cursor: pointer;
    padding: 15px 0;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}

.systemMenuCheckers {
    display: flex;
    flex-flow: column;
    gap: 8px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.systemMenuCheckers input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 0;
    opacity: 0;
}

.systemMenuCheckers input[type="checkbox"] + span {
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 8px 4px;
    border-radius: 8px;
    border: 2px solid #303030;
    transition: all .4s;
}

.systemMenuCheckers input[type="checkbox"]:checked + span {
    color: var(--base-bg);
    border: 2px solid var(--base-bg);
    font-weight: 700;
}

.wrapperRight {
    width: 80%;
    padding-left: 20%;
    
    @media (width <= 768px) {
        position: relative;
        padding-left: 0;
        width: 100%;
    }
}

/* Wrapper on right side */
header {
    background: url(../images/pattern-checkboard.png), var(--base-bg);
    background-blend-mode: soft-light;
    background-size: 25px;
    color: #FFFFFF;
    padding: 24px 0;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

.bgSwitcher,
.toppings {
    width: 90%;
    margin: 0 auto;
    padding: 8px 16px;
    border: 7px solid #FFFFFF;
    border-radius: 8px;
    background-color: #101010;
    box-sizing: border-box;
}

.bgSwitcher input[type="text"], 
.toppings input[type="number"] {
    background-color: #202020;
    color: #FFFFFF;
    width: 40px;
    padding: 4px 4px;
    font-size: 20px;
    border: 2px solid #FFFFFF;
}

.starterAndMenu {
    position: sticky;
    width: calc(100% - 48px);
    padding-left: 48px;
    left: 0;
    top: 0;
    z-index: 998;
    background-color: rgba(0,0,0,0.65);
    
    @media (width > 768px) {
        width: 100%;
        padding-left: 0;
    }
}

.starterAndMenu__spMenu {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height:32px;
    user-select: none;

    @media (width > 768px) {
        display: none;
    }
}
/*
Duel Starters
*/
.duel_starter_group {
    display: block;
    padding: 4px 8px 8px 4px;
    width: calc(100% - 12px);
    box-sizing: border-box;
    overflow-x: auto;
    @media (width > 768px) {

    }
}

.duel_starter_group::-webkit-scrollbar {
    background-color : #303030;
    height: 6px;
}

.duel_starter_group::-webkit-scrollbar-thumb {
    background-color : var(--base-bg);
    height: 6px;
    border-radius: 4px;
}

.duel_starter_group__inner {
    display: flex;
    width: max-content;
    padding: 4px 0;
    flex-flow: row;
    gap: 8px;
    box-sizing: border-box;
}

.duel_starter_group__inner > div {
    padding: 6px 4px;
    background: var(--base-bg);
    color:#FFFFFF;
    border-radius: 32px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

/*
Duel
*/
main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
    padding-bottom: 16px;
    gap: 16px;
}

.duelScreen {
    position: relative;
    width: 96%;
    padding: 17px 2%;
    background-color: var(--base-bg);
    border-radius: 16px;
    overflow: hidden;
}

.duelScreenFlashing {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    pointer-events: none;
    animation: dsFlashing 0.5s 1 forwards;
    z-index: 5;
}

@keyframes dsFlashing {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.damageShakeNormal {
    animation: shakeNormal 0.7s 1 linear forwards;
}

.damageShakeCritical {
    animation: shakeCritical 1.5s 1 linear forwards;
}

@keyframes shakeNormal {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-25px);
    }
    20% {
        transform: translateY(15px);
    }
    30% {
        transform: translateY(-8px);
    }
    40% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-4px);
    }
    60% {
        transform: translateY(2px);
    }
    70% {
        transform: translateY(0);
    }
}

@keyframes shakeCritical {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-65px);
    }
    10% {
        transform: translateY(43px);
    }
    15% {
        transform: translateY(-35px);
    }
    20% {
        transform: translateY(24px);
    }
    25% {
        transform: translateY(-16px);
    }
    30% {
        transform: translateY(12px);
    }
    35% {
        transform: translateY(-6px);
    }
    40%,50%,60%,70%,80%,90% {
        transform: translateY(5px);
    }
    45%,55%,65%,75%,85%,95% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.duelMenu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 8px;
    width: calc(100% - 16px);
    z-index: 999;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.0) 100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.duelMenu.expanded {
    opacity: 1;
    pointer-events: all;
}

.duelMenu .duelTitle {
    font-weight: 700;
}

.damage-indicator {
    position: absolute;
    text-shadow: 0 0 7px #34343488;
    font-weight: 700;
    font-size: 24px;
    transform: translate(-50%, 0);
    animation: damageIndiSpan 0.7s 1 linear forwards;
    z-index: 4;
}

.damage-smesh {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    transform: translate(-50%, 0);
    animation: damageIndiSpan 0.7s 1 linear forwards;
    z-index: 4;
}

@keyframes damageIndiSpan {
    0% {
        opacity: 0;
        transform: translate(-50%, 50px);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 0px);
    }
}

.messageContainer {
    position: relative;
    z-index: 2;
    border: 10px solid #F0F0F0;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 32px;
    min-height: 40px;
    background-color: var(--base-bg);
}

.centralCharContainer {
    position: relative;
    z-index: 2;
    min-height: 80px;
    max-height: 200px;
    margin-bottom: 16px;
    overflow-y: auto;
    display: flex;
    flex-flow: row;
    gap: 8px;
    opacity: 1;

    @media (width <= 768px) {
        flex-flow: column;
    }
}

.centralCharContainer__side0, 
.centralCharContainer__side1, 
.centralCharContainer__side2 {
    flex: 1;
} 

.centralCharContainer__side1 {
    order: 2;
    
    @media (width <= 768px) {
        order: initial;
    }
}

.centralCharContainer .subChar {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background: #3782c7;
    padding: 8px;
    margin-bottom: 4px;
    transition-behavior: allow-discrete;
}

.centralCharContainer .subChar.acting {
    background-color: var(--base-bg);
}

.windowFlexBox {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.windowFlexBox .windowMain {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 25%;
    border: 10px solid #F0F0F0;
    border-radius: 8px;
    padding: 8px;
    background: url(../images/pattern-checkboard.png), var(--base-bg);
    background-blend-mode: soft-light;
    background-size: 25px;
}

.windowFlexBox .windowMain.fainted {
    background-color: #f33a1e;
    border-color: #ff8080;
}


.windowFlexBox .windowMain > p {
    margin: 0;
}

.windowMain {
    position: relative;
}

.windowMain.acting {
    transform: translateY(-8px);
}

.windowMain .indicator_name {
    display: block;
    text-align: center;
    min-height: 24px;
}

.windowMain p {
    display: flex;
    justify-content: space-between;
}

.windowFlexBox > div p span {
    display: inline-block;
    width: 60px;
    background-color: #F0F0F0;
}

.drum_container {
    position: relative;
    height: 30px;
    overflow: hidden;
    max-width: 100px;
    margin: 0 auto;
}

.drum_container .labeller {
    position: absolute;
    left: 0;
    top: 0;
}

.drum_container_inner {
    position: relative;
    width: 320px;
    height: 120px;
    overflow: hidden;
    transform: scale(0.2) translateX(180px);
    transform-origin: left top;
    
    @media (width <= 768px) {
        transform: scale(0.18) translateX(150px);   
    }
}

.ailmentBalloon {
    display: none;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 54px;
    background-color: #FFFFFF;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

.ailmentBalloon.expanded {
    display: flex;
}

.ailmentBalloon::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.ailmentBalloon::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    left: 13px;
    top: 8px;
    font-size: 0;
    background: url(../images/ailment_icon_poisoned.webp) center center no-repeat;
    background-size: contain;
}

.ailmentBalloon.poisoned::after {
    content: "poisoned";
}

.ailmentBalloon.asleep::after {
    content: "asleep";
    background: url(../images/ailment_icon_asleep.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.paralysed::after {
    content: "paralysed";
    background: url(../images/ailment_icon_paralysed.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.crying::after {
    content: "crying";
    background: url(../images/ailment_icon_crying.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.silenced::after {
    content: "silenced";
    background: url(../images/ailment_icon_silenced.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.strange::after {
    content: "strange";
    background: url(../images/ailment_icon_strange.webp) center center no-repeat ;
    background-size: contain;
}
.ailmentBalloon.revive::after {
    content: "revive";
    background: url(../images/ailment_icon_revive.webp) center center no-repeat ;
    background-size: contain;
}

.showBreakdownBtn,
.closeDuelBtn {
    position: absolute;
    left: 10%;
    top: 50%;
    text-align: center;
    cursor: pointer;
    transform: translateY(-50%);
    width: 80%;
    padding: 6px 0;
    background-color: var(--base-bg);
    border-radius: 8px;
    z-index : 900;
}

.closeDuelBtn {
    top: calc(50% + 40px);
}

.textFramer {
    position: fixed;
    left: 8px;
    bottom: 8px;
    background: #f33a1e;
    color: #FFFFFF;
    padding: 2px;
    font-size: 12px;
    z-index: 9999;
    user-select: none;
}


/* PIPper */
.duelPippingIndicator {
     width: 100%;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #585858;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;
}

.pseudoPipper {
    position: fixed;
    width: calc(100% - 20px);
    right: 24px;
    bottom: 24px;
    z-index: 29;
    border: 10px solid #FFFFFF;
    transform-origin: right bottom;
    scale: 0.75;
    max-width: 400px;
}

/* Overlays */
.overlay {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 1020;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    transition: opacity 0.4s;
    color: #FFFFFF;
}

.overlay.expanded {
    opacity: 1;
    pointer-events: all;
}

.overlayCloser {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
}

.overlayingBreakdownContainer__main {
    width: 90%;
    max-width: 540px;
    height: calc(100% - 100px);
    margin: 72px auto 0;
    overflow-y: auto;
}

.overlayingBreakdownContainer__main h2 {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.overlayingBreakdownContainer__main p {
    line-height: 1.6;
}

/* デュエルリスト */
.duellingListContainer {
    display: flex;
    flex-flow: column;
    gap: 16px;
    padding-top: 3px;
    width: 90%;
    max-width: 540px;
    height: calc(100% - 100px);
    margin: 72px auto 0;
    overflow-y: auto;
}

.duellingListContainer p {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.duellingListContainer .winner {
    color: #aaff90;
    font-weight: 700;
}

.duellingListContainer .loser {
    color: #ff4000;
    font-weight: 700;
}

.duellingListCurrentProgress__ongoing {
    display: block;
    width: 116px;
    text-align: center;
    background-color : #202020;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 0;
}

.duellingListCurrentProgress__cancelled {
    display: block;
    width: 120px;
    text-align: center;
    background-color : #747474;
    color: #FFFFFF;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;  
    padding: 8px 0;  
}

.duellingListCurrentProgress__end {
    display: block;
    width: 120px;
    text-align: center;
    background-color : #50b101;
    color: #FFFFFF;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;  
    padding: 8px 0;  
}

.duellingList__purger {
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 13px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}


/* Duel Outcome notification */
.duelOutcomePopup {
    position: fixed;
    width: 90%;
    max-width: 540px;
    background: #0037b9;
    color: #FFFFFF;
    padding: 16px 8px;
    border-radius: 8px;
    z-index: 9999;
    left: 0;
    right: 0;
    margin: auto;
    top: 60px;
    transform: translateY(-24px);
    opacity: 0;
    text-align: center;
    transition: transform 0.4s, opacity 0.4s;
    pointer-events: none;
}

.duelOutcomePopup.onBottom {
    top: auto;
    transform: translateY(24px);
    bottom: 60px;
}

.duelOutcomePopup.expanded, 
.duelOutcomePopup.onBottom.expanded {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

/*  _/_/_/_/_/_/_/_/_/_/
Disappearing Animations
 _/_/_/_/_/_/_/_/_/_/ */
.animating_shrinkingOut {
    pointer-events: none;
    animation: shrinkingOut 0.91s ease-in-out forwards;
}

@keyframes shrinkingOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/* デュエル背景 */
.duelBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: 0;
    z-index: 0;
}

/* バックグラウンド 00 -- テーマ：オーソドックス
--------------------------------------------*/
.duelBg_00 {
    background: #0553c0;
}

.duelBg_00__sprites01 {
    width: 100%;
    height: 100%;
    animation: duelBG00Sprite 5s infinite alternate linear;
}

.duelBg_00__sprites01__inner {
    background: url(../images/background00_part01.svg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: duelBG00SpriteInner 10s infinite linear alternate;
}

.noBgAnimation .duelBg_00__sprites01,
.noBgAnimation .duelBg_00__sprites01__inner {
    animation: none;
}

@keyframes duelBG00Sprite {
    0% {
        filter: brightness(0.5)
    }
    100% {
        filter: brightness(1.1)
    }
}

@keyframes duelBG00SpriteInner {
    0% {
        transform: skewX(-20deg);
    }
    100% {
        transform: skewX(20deg);
    }
}

/* バックグラウンド 01 -- テーマ：落雷
--------------------------------------------*/
.duelBg_01 {
    background: url(../images/background01_part01_seamless.png) center repeat-x;
    background-size: cover;
    animation: duelBG01flowingClouds 45s infinite linear;
}

.noBgAnimation .duelBg_01 {
    animation: none;
}

@keyframes duelBG01flowingClouds {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: -1920px center;
    }
}

/* バックグラウンド 02 -- テーマ：アース・フロム・スペース
--------------------------------------------*/
.duelBg_02 {
    background: linear-gradient(34deg, #020262 0%, #202020 100%);
    width: 100%;
    height: 100%;
}

.duelBg_02__star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background:#FFFFFF;
}

.duelBg_02__planet {
    position: absolute;
    width: 200%;
    height: 300px;
    left: -50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0 0 15px #139ed3, 0 0 40px #FFFFFF, 0 0 40px #FFFFFF, 0 0 40px #FFFFFF, 0 0 40px #FFFFFF;
    background:linear-gradient(184deg, #d1edff 0%, #87e8ff 30%, #005fce 80%);
}

.duelBg_02__board {
    
    position: absolute;
    width: 90%;
    height: 32px;
    left: 5%;
    top: 55%;
    background: #ef7700;
}

.noBgAnimation .duelBg_02 {
    animation: none;
}

.duelBg_02__fallenStar {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(33deg, #c41f05 0%, #801000 100%);
    clip-path: polygon(50% 0%, 74% 14%, 86% 34%, 100% 49%, 89% 84%, 61% 92%, 10% 80%, 16% 61%, 7% 29%, 28% 13%);
}

.duelBg_02__fallenStar.animating {
    transition: 1s linear;
    transform: translate(0,0);
}

.duelBg_02__fallenStar.bursting {
    transition: 1s ease-in-out;
    clip-path: initial;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: radial-gradient(#FFFFFF 0%, #FF9900 25%, #FF3200 50%, #FF320000 100%);
}

.noBgAnimation .duelBg_02__fallenStar {
    transition: none !important;
}