@charset "utf-8";
/* CSS Document */

body{
	font-size:10pt;
	font-family:"sans-serif";
}
.contents{
	width:100%;
	margin:0;
}
header{
	background:url(../img/header_bg1.jpg) center,white;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	padding:0;
	z-index:10000;
	box-shadow: -3px 3px 6px #888888;;
}
header .goTop{
	background-size:130px;
	padding:0;
	margin-left: 5px;
	width:130px;
	height:60px;
}
header div{
	background:url(../img/smp-header-rightbg.png) right no-repeat;
	width:145px;
	padding: 0 0 0 30px;
	float: right;
}
header div .goInquiry{
	float:left;
	outline:none;
	border:none;
	font-size:9pt;
	width:65px;
	margin:4.5px 0;
	display: block;
	font-weight: bold;
}
header div .goInquiry span{
	display: block;
	font-size:15pt;
	margin-bottom: 15px;
}
header div .smp-menu-btn{
	font-size:25pt;
	display: block;
	color:white;
	width:80px;
	line-height: 0;
	padding:15px 0;
	text-align: center;
	float: left;
}
.smp-menu{
	z-index: 10011;
	position:fixed;
	background:none;
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.smp-menu > div{
	background: white;
	position:relative;
	border:1px solid #3F244B;
	max-height: 85%;
	overflow-x: hidden;
	overflow-y:scroll;
}
.smp-menu nav a{
	display: block;
	width:100%;
	line-height: 0;
	padding:15px 10px;
	border-bottom: 1px solid white;
	font-size:10pt;
	font-weight: bold;
	background-color:#3F244B;
	color:white;
}
.smp-menu-addresses h2{
	background: #FACF00;
	padding: 7px 2.5%;
	margin: 0;
	width:95%;
	max-width: none;
	text-align:left;
	border:none;
	font-size:12pt;
}
.smp-menu-addresses table{
	width:90%;
	margin:10px auto;
}
.smp-menu-addresses table th{
	vertical-align: top;
	width:30px;
	text-align: left;
	padding-bottom: 10px;
}
.smp-menu-addresses table td{
	font-size:10pt;
	padding-bottom: 10px;
}
.smp-menu-addresses table td small{
	display: inline-block;
}
.smp-menu .smp-menu-close{
	position:relative;
	z-index:500;
	border: none;
	max-width:370px;
	margin:-11px auto 0 auto;
	overflow: hidden;
	text-align: center;
	padding:5px 0 10px 0;
	background:url(../img/smp-menu-close.png) center top no-repeat;
}
#main-content{
	padding: 60px 0 0;
}
section{
	padding:40px 0;
}
p{
	font-size:10pt;
	line-height: 1.7em;
	margin-left:4%;
	margin-right: 4%;
}
h2{
	text-align: center;
	max-width:350px;
	width:95%;
	margin:0 auto 30px;
	padding:40px 0 5px;
	font-size:14.8pt;
	background-size:20px;
}
footer{
	background: #3F244B;
	width: 100%;
	display: table;
	padding:0;
}
footer #copy{
	background: none;
	padding: 0 8px;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	line-height:1.2em;
	font-size:9pt;
	margin:0;
}
footer div{
	display: table-cell;
	vertical-align: middle;
	width:120px;
}
footer div a{
	float: left;
	color:white;
	width:59px;
	font-size:10pt;
	text-align: center;
	display: block;
	padding:5px 0;
	border-left:1px solid white;
	font-weight: bold;
}
footer div a:hover{
	background-color:#6B3D80;
}
footer div a span{
	display: block;
	margin-bottom: 5px;
	font-size:14pt;
}
@media only screen and (min-width:768px){
	.smp-menu-addresses{
		width:48%;
		margin:0 1%;
		float: left;
	}
	.smp-menu-close{
		clear: both;
	}
}