@import "./keyframes.css";
html {
    width: 100%;
    background-color: #202020;
}

body {
    background: white;
    transition: all 0.4s;
    padding: 0;
    margin: 0;
}

body.upwardSwipePrevention 
.time_setting {
    padding-top: 700px;
}

body.whenDazzlingBeating {
    background: #202020;
    color: #FFFFFF;
}

body.onehandMode {
    margin-left: 30%;
    margin-top: 18vh;
}

.time_setting p{
    margin: 0;
    padding: 8px;
}

body,input,button {
    font-family: "CartoGothic Std", "Hind", "Hind Siliguri",sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.preloaded_beat_images {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    z-index: 0;
    pointer-events: none;
}

.preloaded_beat_images img {
    width: 12px;
    height: 12px;
}

.sticky_bpm_indicator {
    position: fixed;
    top: -50px;
    left: 4px;
    z-index: 9;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 0 0 16px 16px;
    padding: 0 0;
    width: calc(100lvw - 16px);
    gap: 16px;
    /* background: red; */
    background: #F8F8F8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    @media (width <= 768px) {
        left:4px;
        width: calc(100lvw - 8px);
    }
}

.whenDazzlingBeating .sticky_bpm_indicator,
.whenDazzlingBeating .sticky_instant_changer > div {
    color: #FFFFFF;
    background: #202020;
}

.sticky_bpm_indicator.expanded {
    top: 0px;
}

.sticky_bpm_indicator__bpm {
    min-width: 64px;
    width: auto;
}

.sticky_bpm_indicator__beats {
    min-width: 96px;
    width: auto;
}

.sticky_bpm_indicator__beats.toBeChanged {
    color: #ed8743;
}

.sticky_instant_changer {
    position: absolute;
    right: 4px;
    top: 40px;
    height: 40px;
    width: calc(100% - 8px);
    max-width: max-content;
    /* max-width: 320px; */
    transform: translateY(-22px);
    transition: 0.4s;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    
    @media (width <= 768px) {
       right: 4px;
       max-width: none;
    }
}

.sticky_instant_changer.expanded {
    transform: translateY(6px);
    opacity: 1;
    pointer-events: all;
}

.sticky_instant_changer > div {
    padding: 0 16px 0 16px;
    border-radius: 32px;
    box-shadow: 0 3px 12px #20202040;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    @media (width <= 768px) {
        padding: 0;
        justify-content: center;
    }
}

.sticky_instant_changer__btn {
    position: absolute;
    z-index: 18;
    right: 0px;
    top: 0px;
    width: 100%;
    max-width: 400px;
    height: 40px;
    cursor: pointer;
    
    @media (width <= 768px) {
    height: 56px;
    }
}

.sticky_instant_changer__btn:before {
    content : "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: calc(16px + 0px);
    right: 32px;
    border-bottom: 2px solid #404040;
    border-left: 2px solid #404040;
    transform: rotate(-45deg);
}

.sticky_instant_changer_toggle {
    display: block;
    height: 32px;
    position: relative;
    width: 72px;
    border-radius: 24px;
    background-color: #2e4bb3;
    cursor: pointer;
}

.sticky_instant_changer_toggle span {
    position: absolute;
    display: block;
    font-size: 0;
    left: calc(50% - 6px);
    top: 10px;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}


.sticky_instant_changer_toggle:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    transition: 0.33s ease-out;
    background: #FFFFFF;
    transform: scale(0.01);
    transform-origin: left center;
}

.sticky_instant_changer_toggle.expanded:before {
    transform: scale(1);

}

.sticky_instant_changer .bpm_minus10,
.sticky_instant_changer .bpm_minus1,
.sticky_instant_changer .bpm_plus1,
.sticky_instant_changer .bpm_plus10 {
    display: block;
    padding: 16px 12px;
    font-size: 12px;
    height: 0;
    text-decoration: none;
    text-align: center;
    line-height: 0;
    border-radius: 24px;
    background-color: #2e4bb3;
    color: #ffffff;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: -100px;
    width: calc(90% - 32px);
    left: 5%;
    border-radius: 10px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    z-index: 9;
}

.modal.expanded {
    top: 10px;
}

.time_setting {
    margin-bottom: 120px;
    position: relative;
}

.beat_lamp_root {
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #602020;
    left: 320px;
    top: calc(50% - 6px);
}

.beat_lamp_root.fixing {
    position: fixed;
    top: 15px;
    left: 24px;
    z-index: 10;
    pointer-events: none;
}

.beat_lamp_child {
    position: absolute;
    background: radial-gradient(
        #FF8000 0,
        #FF2000 6px,
        #FF200000 16px
    )
    center no-repeat;
    width: 48px;
    height: 48px;
    left: -18px;
    top: -18px;
    animation: blinker 0.40s infinite linear;
}


.general-bpm-settings > button.bpm_button_update{
    width: 100px
}

.general-bpm-settings > button:not(.bpm_button_update) {
    width: 42px;
}

/* .general-bpm-settings >  */
button{
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2e4bb3;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease-out, filter 0.4s ease-out;
}

button:active {
    transform: scale(0.89);
    filter: brightness(2);
}

input[type="tel"] {
    width: 80px;
    text-align: right;
}

.behavior_options {
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
}

/* Customize Behavior Radio Buttons */
.behavior_options label input + span {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 8px 0 34px;
    margin: 4px 2px 4px 0;
    height: 24px;
    background-color: #FFFFFF;
    user-select: none;
    box-shadow: 0 0 4px rgba(80,80,80, .80);
    color: #202020;
    overflow: hidden;
    cursor: pointer;
}

.behavior_options label input:checked + span {
    color: #ed8743;
}

.behavior_options label input  {
    -webkit-appearance: none;
    appearance: none;
}

.behavior_options label input + span:before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 0;
    margin-right: 8px;
    cursor: pointer;
    padding: 0;
    margin: 0 4px 0 0;
    transition: all 0.4s;
    background-color: #441b00;
}

.behavior_options label input:checked + span:before {
    background-color: #ed8743;
    color: #FFFFFF;
}

.behavior_options label input + span:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 16px;
    left: 9px;
    top: calc(50% - 10px);
    border-radius: 2px;
    border-right: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    transform: rotate(45deg);
    -webkit-mask-image: linear-gradient(to right, transparent 48%, black 52%);
    mask-image: linear-gradient(to right, transparent 48%, black 52%);
    mask-repeat: no-repeat; 
    mask-size: 120px;
    mask-position: 0 center;
    transition: all 0.4s;
}

.behavior_options label input:checked + span:after {
    mask-position: -70px center;
}

.image_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    gap: 24px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

    .image_wrapper.marchingPerformance {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

.variableImgRoot {
    width: 240px;
    height: 240px;
    margin-bottom: 100px;
}

.variableImg {
    width: 100%;
}

.animated_parent {
    width: 240px;
    height: 240px;
}

.animated_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#imageFile {
    visibility: hidden;
}

.new_add_image_to_beat {
    text-align: center;
    position: relative;
    font-size: 20px;
    padding-bottom: 100px;
    margin: 120px auto 0;
    color: #20af20;
    cursor: pointer;
}

.new_add_image_to_beat:before {
    content: "+";
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ffffff;
    background: #20af20;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 400;
    transition: all 0.4s;
}

.new_add_image_to_beat:hover:before {
    transform: translate(-50%, -50%) scale(1.1);
    color: #20af20;
    background: #ffffff;
}

/* Each Animation Settings*/
.monkeyDance .animated_parent {
    animation: animator6 0.40s infinite linear;
}

.monkeyDance .animated_image {
    animation: monkey 0.40s infinite alternate linear;
    animation-fill-mode: forwards;
}

.heartbeat .animated_image {
    animation: animator2 .40s infinite linear;
    animation-fill-mode: forwards;
}

.jumper .animated_image {
    animation: animator6 .40s infinite linear;
    animation-fill-mode: forwards;
}

.see_saw .animated_image {
    animation: animator1 .40s infinite alternate ease-in-out;
    animation-fill-mode: forwards;
}

.blinker .animated_image {
    animation: blinker2 .40s infinite  linear;
    animation-fill-mode: forwards;
}

.acrobatic .animated_image {
    animation: acrobatic .40s infinite linear;
    animation-fill-mode: forwards;
}

.moonsault .animated_image {
    animation: moonsault .40s infinite linear;
    animation-fill-mode: forwards;
}

.gelatin .animated_image {
    animation: gelatin .40s infinite linear;
    animation-fill-mode: forwards;
}

.tornadoSpin .animated_image {
    animation: tornadoSpin .40s infinite linear;
    animation-fill-mode: forwards;
}

.glimmering .animated_image {
    animation: glimmering .40s infinite linear;
    animation-fill-mode: forwards;
}

.dazzling .animated_image {
    animation: dazzling .40s infinite linear;
    animation-fill-mode: forwards;
}

.marchingPerformance .animated_parent {
    width: calc(15% - 3px);
    height: 180px;
}

.marchingPerformance  .animated_parent:nth-child(even) .animated_image {
    animation: marchingPerformance_even .40s infinite  linear;
    animation-fill-mode: forwards;
}

.marchingPerformance .animated_parent:nth-child(odd) .animated_image {
    animation: marchingPerformance_odd .40s infinite  linear;
    animation-fill-mode: forwards;
}

.marchingPerformance  .animated_parent:nth-child(odd).oddEvenInverted {
    /* transform: translateX(50%); */
}

.marchingPerformance  .animated_parent:nth-child(even).oddEvenInverted .animated_image {
    /* animation: marchingPerformance_even .40s infinite alternate-reverse linear;
    animation-fill-mode: forwards; */
}

.marchingPerformance  .animated_parent:nth-child(even).oddEvenInverted {
    /* transform: translateX(50.0%); */
}

.marchingPerformance .animated_parent:nth-child(even).oddEvenInverted .animated_image {
    /* animation: marchingPerformance_odd .40s infinite alternate-reverse linear;
    animation-fill-mode: forwards; */
}

.doNothing .animated_image {
    animation: none;
}

/*
    Responsive Design
*/
@media (max-width: 1024px) {
    .image_wrapper.marchingPerformance {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .marchingPerformance .animated_parent {
        width: calc(25% - 18px);
        height: 180px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .general-bpm-settings {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto 16px;
        gap: 8px;
    }
    
    .general-bpm-settings label {
        width: 20%;
        margin: 0 0 8px;
        font-size: 16px;
    }
    
    .general-bpm-settings label input {
        width: calc(100% - 2px);
        font-size: 24.2px;
        border-radius: 8px;
        padding: 16px 8px;
        border: 1px solid #808080;
        outline: none;
    }
    
    .general-bpm-settings > button.bpm_button_update{
        width: 70%;
    }

    .general-bpm-settings > button:not(.bpm_button_update) {
        width: 22.0%;
    }
    
    .general-bpm-settings > button{
        border: none;
        border-radius: 16px;
        color: #FFFFFF;
        background-color: #2e4bb3;
        font-size: 32px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.1s ease-out, filter 0.4s ease-out;
    }

    .general-bpm-settings > button:active {
        transform: scale(0.89);
        filter: brightness(2);
    }

    .general-stop-button button {
        border: none;
        border-radius: 16px;
        width: 95%;
        margin: 0 2.5%;
        color: #FFFFFF;
        background-color: #2e4bb3;
        font-size: 32px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.1s ease-out, filter 0.4s ease-out;
    }

    .general-stop-button button:active {
        transform: scale(0.89);
        filter: brightness(2);
    }

    .beat_changers button {
        width: 18%;
        margin: 0 0 8px;
        padding: 15px 0;
        border-radius: 16px;
        outline: none;
        border: none;
        color: #FFFFFF;
        background-color: #b32e32;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.1s ease-out, filter 0.4s ease-out;
    }

    .beat_changers button:active {
        transform: scale(0.89);
        filter: brightness(2);
    }

    .beat_changers button +
    .beat_changers button {
        margin-left: 0.5%;
    }

    .beat_lamp_root {
        top: 1000px;
        left: 8px;
    }
    
    .variableImgRoot {
        width: 100%;
        margin: 0 0 200px;
    }
    
    .image_wrapper {
        display: flex;
        gap: 24px;
        /* width: 100%; */
        
        width: 90%;
        padding: 350px 5% 0;
        margin-top: -300px;
        overflow: hidden;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .marchingPerformance .image_wrapper {
        justify-content: flex-start;
    }
    
    .marchingPerformance .animated_parent {
        width: calc(50% - 13px);
        height: 180px;
    }

    .animated_parent {
        width: 80%;
        height: 320px;
    }
    
    .beat_indication {
        position: relative;
        padding-bottom: 32px;
        text-align: center;
        font-size: 24px;
        min-height: 80px;
    }

    .beat_indication small {
        position: absolute;
        left: 0;
        top: 32px;
    }
    .new_add_image_to_beat {
        padding-bottom: 250px;
    }
    
    .new_add_image_to_beat::before {
        top: 80px
    }
}