@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Secret to you! */
.secret-to-you,#secret-link{display:none;}

/* Reset All defaults */
*{margin:0;padding:0;list-style-type:none;color:#222;text-decoration:none;}

/* Body Arrangement */
body{padding:0;margin:0; overflow-y:scroll; width:100%; }
body,input,select,textarea,button,.gothic_letters{font-family:"游ゴシック", Yu Gothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
h1,h2,h3,h4,h5,h6,.mincho_letters{font-family:"游明朝",'Yu Mincho','YuMincho',"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝","MS PMincho", serif;}
.contents{width:960px;margin:0 auto;}

header{background:white;border-bottom:2px #777 solid;}
header .contents{width:100%;}
#smp-header{
	display:none;
}
section{padding:30px 0;}

nav ul{width:100%;text-align:center;}
header nav li{display:inline-block;text-align:center;width:15%;}
header nav li:first-child{width:20%;}
header a{
	padding:20px 0px;
	display:block;
}
header a:hover{
	background:#898989;
}
#gotoTopPage{
	padding:20px 120px;
	background:url(../img/happylife_logo.png) center center no-repeat;
	background-size:250px;
	height:20px;
	margin-bottom:-22px;
}
#navigation_to_contact a{background:#FFB503;font-weight:bold;color:white;}
#navigation_to_contact a:hover{background:#FFD060;}
.header-image{
	background:red;
	padding-top:130px;
	padding-bottom:130px;
}
.header-image h1, .header-image h2{
	text-align:center;
	width:940px;
	margin:0 auto;
	padding-right:0px;
}
.header-image h1{
	font-size:32pt;
	margin-bottom:0px;
	text-shadow:2px 2px 3px #aaa;
}
.header-image h2{
	font-size:18pt;
	font-family:"Ubuntu",sans-serif;
	font-weight:500;
	text-shadow:2px 2px 3px #aaa;
}

section h2{padding:20px 0;text-align:center;font-size:20pt;color:#6C3600;}
section p{font-size:12pt;}

footer{background:#666;padding:0;}

#go-to-top{padding:0 0 30px;position:relative;border-top:3px solid #FFE327;}
#go-to-top a{
	position:absolute;
	left:90%;
	top:-50px;
	display:block;
	width:71px;
	height:50px;font-size:0;
	transition:0.5s;
	background:url(../img/go-to-top/3.png) center 85% no-repeat,url(../img/go-to-top/1.png) center bottom no-repeat,url(../img/go-to-top/2.png) center 0% no-repeat;
}
#go-to-top a:hover{background-position:center 65%,bottom,center 100%;}

footer ul{width:900px;}
footer li{display:inline;padding:0 20px;border-right:1px dotted #eee;}
footer li:last-child{border:none;}
footer li a{color:#eee;font-size:10pt;}
#copyrights{text-align:right;margin:0 auto;padding:10px 0 40px;width:95%;font-size:10pt;color:#eee;}

main a{display:block;width:100%;}

@media only screen and (max-width:1152px){
	header .contents{width:100%;margin:0;}
	nav ul{width:100%;text-align:left;margin:0;}
	header nav li{display:inline-block;text-align:center;width:16%;vertical-align:middle;}
	header a{padding:10px 0.5%;width:99%;text-align:center;margin-left:0px;}
	
	#gotoTopPage{background:url(../img/happylife_logo.png) center center no-repeat;background-size:200px;height:40px;margin-bottom:-0px;padding:20px 0;}
}
@media only screen and (max-width:768px){
	.contents{width:100%;margin:0;}
	section h2{font-size:17pt;}section p{font-size:10pt;}
	
	#gotoTopPage{width:100%;background-position:center center;}
	nav ul{width:95%;text-align:left;margin:0 2.5%;}
	header nav li{display:inline-block;text-align:center;width:50%;vertical-align:middle;}
	header nav li:first-child{width:50%;}
	header a{
	padding:10px 0.5% !important;
	}
	
	.header-image h1, .header-image h2{
		width:90%;
		margin:0 auto;
		padding-right:0px;
	}
	
	footer{background:#666;padding:0px 0 30px;}
	
	#go-to-top a{left: calc(50% - 34.5px);}	
	footer ul{width:98%;margin:0 auto;text-align:center;}
	footer li{display:inline-block;padding:3px 0;width:30%;text-align:center;}
	footer li a{color:#eee;font-size:11pt;display:block;}
	#copyrights{text-align:center;margin:30px auto;padding:0;width:95%;font-size:10pt;color:#eee;}
}
@media only screen and (max-width:512px){
	#smp-menu{
		background:url(../img/smp-menu.png) center center no-repeat;
		background-size:20px;
		width:30px;
		height:30px;
		margin-left:10px;margin-right:5%;
		display:inline-block;
		vertical-align:middle;
		position:relative;
	}
	#smp-header{
		display:block;
		text-align:left;
		padding:10px 0 15px;
	}
	#smp-header a{
		position:absolute;
		color:red;
		background:url(../img/happylife_logo.png) 40% 10% no-repeat;
		background-size:220px;
		height:30px;
		font-size:0;
		width:220px;
		display:block;
		top:2px;left:20%;
	}
	header nav{display:none;}
	header nav li{width:100%;}
	header a{font-size:10pt;font-weight:bold;}
	#gotoTopPage{display:none;}
	
	.header-image{
		padding-top:192px;
		padding-bottom:40px;
	}
	.header-image h1,.header-image h2{text-align:center;}
	.header-image h1{font-size:18pt;margin-bottom:8px;}
	.header-image h2{font-size:12pt;font-family:"Ubuntu",sans-serif;}
	
	section h2{
		padding:20px 0;
		text-align:center;
		font-size:13pt;
	}
		
	footer ul{width:99%;}
	footer li{
		width:95%;
		border:none;
		border-bottom:1px dashed #eee;
	}
	footer li a{padding:10px 0;}
}
@keyframes horeylayez{
	0%{opacity:1;}
	100%{opacity:0;}
}