@charset "utf-8";
.header-image{
	background:url(../img/c-cost-bg3.jpg) center 30% no-repeat;background-size:100%;
}
.header-image *{color:white;}
#privacy-policy h3{
	margin:40px 0 10px;
	font-size:14pt;
	border-left:5px solid #FF8E00;
	padding-left:5px;
}
#privacy-policy p{
	margin:15px 20px;
	font-size:12pt;
}
#privacy-policy ul{
	margin-left:50px;
}
#privacy-policy li{
	padding-left:5px;
	margin:8px 0;
}
#privacy-policy li:before{
	content:"ãƒ»";
	font-weight:bold;
}

#privacy-policy h4{
	margin:40px 45px 10px;
}
#privacy-policy address{
	margin-left:45px;
	font-style:normal;
	display:inline;
}

#privacy-policy a{transition:0.4s;display:block;text-align:center;width:236px;margin:50px auto;background:#FFA035;border:2px #FFBE6D solid;font-size:12pt;padding:10px 0;box-shadow:2px 2px #666;}
#privacy-policy a:hover{background:#FFD68A;}

@media only screen and (max-width:768px){
	.header-image{
		background-position:center 1%;background-size:100%;
	}
	#privacy-policy h3{
		width:96%;
		margin:20px auto;
		font-size:13pt;
		padding-left:8px;
	}
	#privacy-policy p{
		width:94%;
		margin:10px auto 40px;
	}
	#privacy-policy ul{
		width:90%;
		margin:20px auto;
	}	
	#privacy-policy li{
		margin:15px 0;
	}
	#privacy-policy h4{}
	#privacy-policy address{}
}
@media only screen and (max-width:512px){
	.header-image{
		background-position:center 0;background-size:150%;
	}
	#privacy-policy h3{
		width:90%;
		margin:40px auto 20px;
		font-size:12pt;
		padding-left:8px;
	}
	#privacy-policy p{
		width:85%;
		font-size:10pt;
		margin:10px auto;
	}
	#privacy-policy ul{
		width:85%;
		margin:20px auto;
	}	
	#privacy-policy li{
		margin:10px 0;
		font-size:10pt;
	}
	#privacy-policy h4{text-align:center;font-size:10pt;}
	#privacy-policy address{width:90%;font-size:10pt;margin:10px auto;display:block;}
	#privacy-policy a{
		text-align:center;
		width:90%;
		margin:50px auto;

		border-width:1px;
		font-size:10pt;
		padding:8px 0;
		box-shadow:2px 2px #666;
	}
	#privacy-policy a:hover{}
}

/* Who shall be waiting for St.Valentine ? */
#choContainer{
	width: 580px;
	height: 246px;
	margin: 30px auto;
	background: #361f0d;
	position: relative;
	z-index: 1;
}
 
#choContainer:before{
	content: "";
	position: absolute;
	bottom: 6px;
	left: 18px;
	width: 50%;
	box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.4);
	z-index: 0;
	transform: rotate(-3deg);
}
 
#choContainer:after{
	content: "";
	position: absolute;
	bottom: 6px;
	right: 18px;
	width: 50%;
	box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.4);
	z-index: 0;
	transform: rotate(3deg);
}
 
.choco1{
	position: relative;
	width: 26px;
	height: 2px;
	background: #532F19;
	border-top: 40px solid #522F17;
	border-bottom: 40px solid #231304;
	border-left: 45px solid #8A645C;
	border-right: 45px solid #0E0500;
	border-radius: 4px;
	float: left;
	z-index: 1;
}
 
.choco2{
	position: absolute;
	bottom: -34px;
	left: -38px;
	width: 102px;
	height: 70px;
	background: #56331D;
	box-shadow: -3px 0 3px -1px rgba(255, 255, 255, 0.5);
	z-index: 1;
}
 
.choco3{
	position: absolute;
	bottom: 4px;
	left: 6px;
	width: 58px;
	height: 38px;
	background: #4F2B16;
	border-top: 12px solid #371D11;
	border-bottom: 12px solid #3D2011;
	border-left: 16px solid #0E0701;
	border-right: 16px solid #ABA1A0;
	border-radius: 8px;
	z-index: 2;
}
 
.choco4{
	position: absolute;
	bottom: 4px;
	left: 6px;
	color: #482B1C;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: 'Fugaz One', cursive;
	letter-spacing: 0.1em;
	z-index: 3;
}