@charset "utf-8";
/* CSS Document */

/* * * * * * * * * * * * 
   Processes
* * * * * * * * * * * */
#how-to-watch .contents{
	width:720px;
}
#how-to-watch p{
	margin-bottom:25px;
}
#how-to-watch li{
	list-style:none;
}
#how-to-watch .steps{
	display: block;
	margin:0 auto 40px;
}
#how-to-watch ol h3{
	text-align: center;
	margin:0 0 40px;
}
#how-to-watch ol li div{
	padding-left:30%;
	padding-bottom:80px;
}
#how-to-watch .first div{background:url(../img/process_step1.png) left top no-repeat;}
/* Step 1 ............................... */
#how-to-watch .first a{
	line-height: 0;
	width:45%;
	margin:0 0 0 55%;
	padding:22px 0;
	border-radius:4px;
}
/* Step 2,3,4 ............................... */
#how-to-watch .second div{background:url(../img/process_step2.png) left top no-repeat;}
#how-to-watch .third div{background:url(../img/process_step3.png) left top no-repeat;}
#how-to-watch .fourth div{background:url(../img/process_step4.png) left top no-repeat;}
/* Setup complete! */
#how-to-watch div.last{
	background:url(../img/processes_complete.jpg);
	text-align: center;
	padding:30px 0;
}

#how-to-watch .last h3{
	color:white;
	font-size:13pt;
	font-weight: lighter;
	line-height: 0;
	padding:40px 0 40px;
	width:80px;
	margin:30px auto 50px;
	position:relative;
	z-index:11;
}
#how-to-watch .last h3:before{
	display: block;
	content:"";
	position:absolute;
	background-color:#508BCC;
	left:-10px;
	top:-7pt;
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width:100px;
	height:100px;
	z-index: -2;
}
#how-to-watch .process-navigation{
	margin:30px 0 0;
}
#how-to-watch nav{
	margin-top:30px;
	width:220px;
	float: left;
}
#how-to-watch nav .second{background:url(../img/processes_unclear_2.png) 5% center no-repeat,#508BCC;}
#how-to-watch nav .last{background:url(../img/processes_unclear_3.png) 5% center no-repeat,#508BCC;}
#how-to-watch nav a{
	text-align: left;
	background-size:25px !important;
	line-height: 0;
	padding:25px 0;
	text-indent:40px;
	font-size:11pt;
	border-radius:5px;
}
#how-to-watch nav a:first-child{margin-bottom:25px;}
#how-to-watch .externals{
	float:right;
	width:450px;
	margin:0;
}
#how-to-watch .externals li{
	width:50%;
	text-align: center;
	float: left;
}
#how-to-watch .externals img{
	width:50%;
	max-width: 200px;
}
#how-to-watch .externals a{
	width:70%;
	line-height: 0;
	padding:20px 0;
	border-radius:5px;
	margin:15px auto 0;
}
#how-to-watch .externals a:before{
	content:"";
	padding:0 8.5px;
	margin-right:5px;
	background:url(../img/../img/go_other_sites.gif) center no-repeat;
}
/* * * * * * * * * * * * 
	For Smartphones
* * * * * * * * * * * */
@media only screen and (max-width:768px){
	/* * * * * * * * * * * * 
	Processes
	* * * * * * * * * * * */
	#how-to-watch .contents{
		width:100%;
	}
	#how-to-watch ol li div{
		padding:120px 0 60px 0;
		width:92%;
		margin:0 auto;
		background-size:100px !important;
		background-position:50% 0 !important;
	}
	#how-to-watch .steps{
		width:25%;
		max-width:150px;
		margin:0 auto 30px;
	}
	#how-to-watch ol h3{
		margin:0;
		font-size:13pt;
	}
	#how-to-watch p{
		font-size: 10pt;
		line-height:20pt;
		margin-bottom: 28pt;
	}
	#how-to-watch ol .first a{
		font-size:11pt;
		width:180px;
		margin:0 auto;
		padding:20px 0;
	}
	#how-to-watch ol .third .first li p{
		font-size:10pt;
		width:100%;
		margin:0 0;
	}
	#how-to-watch .third .second h5{
		font-size:12pt !important;
		margin:0 0 20px !important;
		line-height: 17pt !important;
	}
	#how-to-watch .third p br{
		display:none !important;
	}
	#how-to-watch div.last{
		padding:25px 0;
		margin:0 0 30px;
	}
	#how-to-watch .last h3{
		font-size:11pt;
		font-weight: bold;
		line-height: 0;
		padding:27.5pt 0;
		width:55pt;
		margin:5px auto 40px;
	}
	#how-to-watch .last h3:before{
		left:0;
		top:0;
		width:55pt;
		height:55pt;
	}
	#how-to-watch .last p{
		margin:0 2.5%;
	}
	#how-to-watch .process-navigation{
		margin:0 5%;
	}
	#how-to-watch nav{
		width:100%;
		margin:0 auto 40px;
	}
	#how-to-watch nav a{
		background-position: 10px center !important;
		padding:20px 0;
		text-align:left;
		font-size:10pt;
		margin:0 auto;
		line-height: 0;
		height:0;
		width:90%;
	}
	#how-to-watch nav a.second{margin:0 auto 15px;}
	#how-to-watch nav a span{
		display:none;
		font-size:0;
	}
	#how-to-watch .externals{
		width:95%;
	}
	#how-to-watch .externals a{
		font-size:9pt;
		padding:17px 0;
		border-radius:2px;
		margin:15px auto 0;
	}
	#how-to-watch .externals a:before{
	content:"";
	padding:0 5px;
	margin-right:5px;
	background-size:9.5pt;
	}
}