@charset "utf-8";
/* CSS Document */

h1{
	text-align:center;
	padding:160px 0;
}
h2{
	padding:15px 10px;
	width:920px;
	
	margin:0 auto;
	clear:both;

	position:relative;
}
h2 small{
	display:block;
	position:absolute;
	right:10px;
	top:20px;
	text-align:right;
}
h3{
	text-align:center;
	margin:60px 0;
}
#ninjin-sirisiri{
	transition:2s;
	-ms-transition:2s;
	-o-transition:2s;
	-webkit-transition:2s;
}
#qr-menu-points{
	width:900px;
	margin:60px 30px;
}
#qr-menu-points li{
	float:left;
	width:270px;
	margin:0 15px;
}
#qr-menu-points li img{
	margin-bottom:15px;
}
#qr-menu-points h4{
	text-align:center;
	
	padding-bottom:10px;
	margin-bottom:14px;
}
#qr-menu-points p{
	margin:0 5px 60px;
}